[2020-06-22 16:25] Ana06 opened #3 "pull function scope features into file scope"
@mr-tz

@mr-tz

@williballenthin

@mr-tz

[2020-06-22 16:28] Ana06 opened #4 "vivisect workspace creation"
@mr-tz

@williballenthin

@williballenthin

[2020-06-22 16:28] Ana06 opened #5 "Associate context with a string"
@Ana06

@mr-tz

@williballenthin

[2020-06-22 19:02] #4 closed, assigned to nobody

[2020-06-22 19:49] williballenthin opened #6 "linter: namespace should match directory structure"
...unless in nursery

[2020-06-22 19:50] williballenthin opened #7 "linter: filename should match rule name"
modulo some stripping of special characters

[2020-06-22 23:24] williballenthin opened #8 "add capafmt utility for consistent formatting of rules"
it would be nice to format rules with a consistent style.

this includes:
  - whitespacing, especially with lists
  - order `meta` before `features`

by default, python yaml emits keys alphabetically. as an example:

[code]

this wold look nicer:

[code]

[2020-06-24 13:06] Ana06 opened #12 "Get rid of the Element class"
The `Element` class is just used for testing. By using `Element` we are not testing the actual code. Also, every time we implement a new feature for the `Feature` class, we need to implement it for `Element` as well. I think it would be a better idea to use real classes for testing and get rid of `Element`. We could start by substituing it by number, which should be straighforward. Although I thin

[2020-06-25 08:20] mr-tz opened #18 "Automate submodule sync (rules)"
via GitHub Actions

Currently has to be done manually, see https://stackoverflow.com/questions/5828324/update-git-submodule-to-latest-commit-on-origin

[code]

[2020-06-25 12:50] #12 closed, assigned to nobody

[2020-06-25 13:23] williballenthin opened #20 "style-checker hook fails"
![image](https://user-images.githubusercontent.com/156560/85727969-b711ff80-b6b4-11ea-829d-c646797a2ea9.png)

[2020-06-25 13:26] williballenthin opened #21 "move pycodestyle and other dev dependencies into setup.py"
rather than putting the python installation into the setup-hooks.py script

use an `extras_require` for `[dev]` maybe?

[2020-06-25 13:41] #20 closed, assigned to nobody

[2020-06-25 14:55] #8 closed, assigned to williballenthin

[2020-06-25 15:17] williballenthin opened #23 "plan: rule reorganization"
- [x] agree on proposed rule names and namespaces. see shared excel spreadsheet.
  - [x] develop script to do migration #25
  - [x] develop formatter to ensure consistency of formatted rules #8
  - [x] run formatter on all rules (and confirm results) https://github.com/fireeye/capa-rules/pull/12
  - [x] execute migration https://github.com/fireeye/capa-rules/pull/14
  - [x] post snapshot of excel

[2020-06-25 18:08] williballenthin opened #24 "linter: warn on non-standard meta fields"
and maybe suggest "reference" -> "references"

[2020-06-26 16:16] Ana06 opened #28 "Add a CONTRIBUTING file"
I think we should add a CONTRIBUTING file to collect some important information we now have in other documents. I information is usually in the CONTRIBUTING file in other project and it is where people expect it to be. In addition, it is used by GitHub to help guiding new contributors. For example, when someone opens a pull request or creates an issue, they will see a link to that file:

![image](

[2020-06-26 23:32] williballenthin opened #35 "linter: lib rules should not have a namespace"

[2020-06-26 23:32] williballenthin opened #36 "linter: lib rules should be found in lib directory"

[2020-06-27 00:49] williballenthin opened #31 "add JSON-formatted output mode"
use this JSON as the source data for all formatters. this will ensure it has all data necessary to render complete details of capa matches.

the JSON document will be the primary method of integration for external tools and scripts, rather than supporting a multitude of integrations.

[2020-06-27 20:34] williballenthin opened #32 "post-commit git hook incorrectly stashes unstaged changes"
when i stage and commit only some of the pending changes, the post-commit git hook places unstaged changes into the git stash stack. i have to manually pop them with `git stash pop stash@{0}`. i would rather have these unstaged changes untouched by the git hook (at least, they should be there when the hook completes its job).

last night i was really scared that i had lost hours of work until i no

[2020-06-28 18:46] williballenthin opened #33 "separate logging level from output mode"
add flag `--debug` to enable DEBUG level logging. this is independent of `--verbose` mode that affects result output.

[2020-06-29 19:07] #6 closed, assigned to williballenthin

[2020-06-29 19:07] #7 closed, assigned to williballenthin

[2020-06-29 19:07] #24 closed, assigned to williballenthin

[2020-06-29 19:07] #21 closed, assigned to williballenthin

[2020-06-29 19:07] #33 closed, assigned to williballenthin

[2020-06-29 19:08] #31 closed, assigned to williballenthin

[2020-06-29 19:19] williballenthin opened #37 "engine: support matching on rule namespace prefixes"
right now we support matching on other rule names, like `match: encrypt data with RC4 KSA`

we should support matching on namespaces, as well, like `match: data-manipulation/encryption`

this would mean that rule authors don't have to know about all the possible techniques to do a thing (like encryption).

[2020-06-30 15:26] williballenthin opened #40 "make sure pyinstaller still works"

[2020-06-30 16:58] williballenthin opened #41 "configure gh actions to update version"
blocked on gh actions be available, though.

[2020-06-30 17:16] mike-hunhoff opened #42 "discussion: capa JSON format"
I have the following questions/comments after changing the IDA plugin to use the new JSON format:

* Does it make sense to define (if not done already) a JSON schema for the new format?
   * **Pros:** Schema would allow for easy validation of the format and serve as documentation for developers wanting to ingest the data into their systems
   * **Cons:** Time and effort

* Does it make sense to in

[2020-06-30 17:22] williballenthin opened #43 "json: include locations for range nodes"

[2020-06-30 21:17] williballenthin opened #45 "include additional metadata in json and verbose output modes"
this could include:
  - md5, sha1, sha256 hashes
  - file format
  - path of input file
  - extractor used
  - arguments specified
  - base address of module

[2020-06-30 21:26] williballenthin opened #46 "discussion: capa doesn't extract features from packed files"
capa relies on disassembly and code analysis that can easily be defeated by packing. right now, capa doesn't attempt to do any auto-unpacking, so even trivially packed samples can bypass capa. fortunately, capa can often recognize when packing is in use (if you notice a bypass, submit a rule!), and will emit a warning about this.

doing auto-unpacking is a non-trivial job, and not really in scope

[2020-06-30 21:29] williballenthin opened #47 "discussion: capa doesn't do anything for non-Windows or non-PE files"
capa contains a small amount of code and a large amount of default rules that assume the input file is a Windows PE file. this is because the original authors primarily analyze Windows malware. there is nothing stopping analysis of Linux ELF or MacOS Mach-O binaries; however, we haven't yet had the experience, sample binaries, nor time to make this happen.

support for additional platforms may be

[2020-06-30 21:32] williballenthin opened #48 "discussion: capa doesn't handle sandbox or API traces"
capa relies on analysis of code structures to identify patterns. this is similar to matching sequences of API calls or other events in a sandbox, but not exactly. right now, capa rules don't directly translate to identifying behaviors from sandbox or debugging output, but it seems like there's a lot of overlap. maybe we can find a way to re-use a lot of work we've done for the static analysis rule

[2020-06-30 21:33] williballenthin opened #49 "integrate capa with ghidra"
lots of people use ghidra, which is free and open source. we should recommend a way of integrating capa results into ghidra.

[2020-06-30 21:34] williballenthin opened #50 "capa can't be used as a library on py3"
capa relies on [vivisect](https://github.com/vivisect/vivisect) for its standalone code analysis (when run within IDA, it uses IDA's analysis). since vivisect is [py2-only](https://github.com/vivisect/vivisect/blob/f734e327123654af624027e81920fc4af19f9e00/setup.py#L43), this means capa is py2-only, when used standalone or as a library. we should provide an analysis backend that can be used on py3,

[2020-06-30 22:44] mike-hunhoff opened #53 "capa refuses to output JSON if a file limitation is detected e.g AutoIt"

[2020-07-01 04:03] #53 closed, assigned to nobody

[2020-07-01 07:32] #36 closed, assigned to williballenthin

[2020-07-01 07:32] #35 closed, assigned to williballenthin

[2020-07-01 08:27] mr-tz opened #55 "vivisect/viv-utils - Exception: Invalid File: shellcode"
[code]

[2020-07-01 13:23] mr-tz opened #57 "count: 0 - range fails if no feature extracted"
test case: rule and output (it should match on functions with no calls)

[code]

[code]

capa/engine.py:156
[code]

[2020-07-01 15:45] williballenthin opened #60 "consider using `black` for formatting"
https://github.com/psf/black

notably, this is found under the Python Software Foundation (PSF) organization. seems to lend some weight. also, tons of stars and engagements.

[2020-07-01 15:51] #32 closed, assigned to Ana06

[2020-07-01 16:23] #37 closed, assigned to nobody

[2020-07-01 17:06] #55 closed, assigned to nobody

[2020-07-01 17:21] williballenthin opened #62 "assume characteristics always encode the existance"
after months of use, it seems that characteristic features are only used like `characteristic(nzxor): True`. that is, the value is always `True`. we can simplify and make the rule syntax more consistent by changing the format to look like `characteristic: nzxor` and `count(characteristic(nzxor))`.

to match the non-existence of this feature, use `not: characteristic: ...` or `count(characteristic(

[2020-07-01 17:57] #57 closed, assigned to nobody

[2020-07-01 18:31] mr-tz opened #65 "update serialization of characteristic feature"
remove special handling of characteristic feature when serializing and refreeze testbed files.

it currently maintains backwards compatibility with an old format, by using a list of two elements.

[2020-07-01 18:51] #43 closed, assigned to nobody

[2020-07-01 18:53] #42 closed, assigned to nobody

[2020-07-01 18:54] williballenthin opened #66 "add documentation for IDA plugin"
at least include a screenshot in the main readme so people can get a sense for what it does.

[2020-07-02 15:01] williballenthin opened #74 "discussion: false positives in vcrt functions"
there are a number of interesting rules, like manual PEB parsing, that fire on standard routines inserted by the MSVC compiler. typically, we'd want to include these in the output, except that some of these normal runtime functions aren't doing anything nefarious (as the rule might suggest, like anti-vm).

this leads to the desire that we'd want to filter out some known functions from matching.

t

[2020-07-02 15:07] #5 closed, assigned to Ana06

[2020-07-02 16:13] #40 closed, assigned to williballenthin

[2020-07-02 16:44] williballenthin opened #75 "ci: configure black for code formatting"

[2020-07-02 16:44] williballenthin opened #76 "ci: configure isort for code formatting"
[code]

[2020-07-02 17:17] #60 closed, assigned to nobody

[2020-07-02 17:29] #62 closed, assigned to williballenthin

[2020-07-02 19:57] mr-tz opened #78 "count basic block"
This rule is not working as I expect, I get no results. Am I using this wrong?

[code]

[2020-07-02 22:33] #45 closed, assigned to nobody

[2020-07-03 06:55] #78 closed, assigned to nobody

[2020-07-03 07:20] Ana06 opened #85 "remove args from Features"
After #39 it is really obvious that `args` and `value` are a duplication for most of the features. In most cases `args = [value]`. In few features `value` has a different name, but I think I makes sense to rename this attribute. We could think about it as the `value` in the yaml file. So, I propose to get rid of `args` and introduce `value` for `Feature` (the main class instead of the subclasses).

[2020-07-03 07:22] Ana06 opened #86 "Support descriptions for regular expressions"
This was not implemented in #39, as at RegExp are not a Feature. It is needed to either make RegExp a feature or implement this for RegExp as well. It should works in the same as for strings.

Just tracking it here, so that we don't forget about it. 😉

[2020-07-03 07:34] Ana06 opened #87 "Introduce variable DESCRIPTION_SEPARATOR"
rather than using an inline string `' = '` that is prone to typo and cannot be used with "find references", use a constant like `DESCRIPTION_SEPARATOR = "' = "'` and use this throughout the code. (from [@williballenthin's comment in #39](https://github.com/fireeye/capa/pull/39#discussion_r448464180))

[2020-07-03 08:37] Ana06 opened #88 "TypeError: Can't instantiate abstract class NullFeatureExtractor"
Tests are failing in master:

[code]

Introduced in https://github.com/fireeye/capa/commit/ff44801e5c6a31c1e52b6886b4126114b306c6a4

[2020-07-03 11:57] mr-tz opened #91 "simplify metadata rendering"
I propose the following formats to reduce duplicate information (MD5) and display the most important information first.

`capa report` could be included as a header/heading as well

[code]

[2020-07-03 13:07] mr-tz opened #93 "capa explorer fails on Python 2, IDA 7.5"
[code]

[2020-07-03 14:01] mr-tz opened #94 "vivisect extractor: bytes features for immediate operands"
currently this gets bytes features for many invalid immediate operators
[code]

for example `add     ebp, 0Bh` etc.

this case should be fine-tuned or removed?

[2020-07-03 14:03] mr-tz opened #95 "output feature count"
capa shows the file feature count
[code]

to avoid confusion, this should be removed or extended to also show function features

[2020-07-03 17:24] williballenthin opened #96 "add feature & function count to report metadata and render"
from #91

also, this:
[code]

[2020-07-03 18:14] #23 closed, assigned to williballenthin

[2020-07-03 20:14] mike-hunhoff opened #98 "doc missing locations for "calls from" chacateristic"
The doc format does not include locations for `calls from` characteristic. From my understanding these locations are recorded and should be included?

[code]

[2020-07-03 20:47] mike-hunhoff opened #101 "IDA output differs between Python 2 and Python 3"
For some reason the output displayed in capa explorer differs between Python 2 and Python 3. This issue appears when running the plugin in both IDA 7.4 and IDA 7.5.

Additional digging is needed to determine what is causing the issue e.g. is it capa prime, IDA extractor, or capa explorer plugin interface.

[2020-07-04 03:51] mike-hunhoff opened #102 "output/doc missing description for offsets"
capa match snippet:

[code]

rule snippet:

[code]

doc snippet:

[code]

[2020-07-05 20:12] williballenthin opened #103 "linter: validate ATT&CK categories and IDs"
embed a snapshot of the mitre json to enable this check.

[2020-07-05 20:29] #93 closed, assigned to mike-hunhoff

[2020-07-05 20:33] #88 closed, assigned to nobody

[2020-07-05 20:39] #94 closed, assigned to nobody

[2020-07-05 22:19] #98 closed, assigned to williballenthin

[2020-07-05 22:21] williballenthin opened #106 "generate viv workspaces for testfiles to speed up CI"

[2020-07-06 07:38] Ana06 opened #108 "IndexError in get_base_address"
Tests are failing in master: 😭

[code]

Introduced in ff44801e5c6a31c1e52b6886b4126114b306c6a4

[2020-07-06 19:27] williballenthin opened #111 "add rule location (embedded or path) to metadata"
if embedded, then we can use the capa version to determine which rules are in use. if in an external path, we can't make too many assumptions (though we could try to guess that its a capa-rules repo and do git commands).

[2020-07-06 19:27] #91 closed, assigned to nobody

[2020-07-06 20:09] #95 closed, assigned to nobody

[2020-07-06 20:09] #96 closed, assigned to nobody

[2020-07-06 20:43] williballenthin opened #113 "move CI resources into .github directory"
the .github directory has special meaning on gh. its a good place to put all our CI and supporting resources so that they don't make our top level directory too messy.

[2020-07-07 13:02] #87 closed, assigned to nobody

[2020-07-07 13:02] #102 closed, assigned to williballenthin

[2020-07-07 13:04] #111 closed, assigned to nobody

[2020-07-07 15:06] #28 closed, assigned to nobody

[2020-07-07 16:43] #108 closed, assigned to williballenthin

[2020-07-07 17:00] #85 closed, assigned to Ana06

[2020-07-07 17:18] williballenthin opened #120 "add example script to import json report in to IDA"
Even if users don't install the IDA Pro plugin, it might be nice to provide a way to import a capa json report into IDA. This should be pretty trivial, and can serve as an example for other projects. (Also, its supports FLAREMINGO integration /FEYE)

Just annotate each function with the capability matches that it contains.

[2020-07-07 18:07] williballenthin opened #121 "add mode to enable colored output always"
following the discussion on SO [here](https://stackoverflow.com/a/18304605/87207), its nice when tools can be piped to `less` but still output color. typically, `colorama` will detect when the output steam is not a TTY (like piping to `less` or a file) and strip color codes. we can add a flag `--color=always|never` to override this behavior.

[2020-07-07 18:55] #121 closed, assigned to williballenthin

[2020-07-07 19:37] williballenthin opened #125 "fix testbed"
[code]

[2020-07-07 21:04] #113 closed, assigned to nobody

[2020-07-07 21:18] #125 closed, assigned to williballenthin

[2020-07-08 01:59] #120 closed, assigned to williballenthin

[2020-07-08 14:20] williballenthin opened #127 "display category/disposition based on rule labels"
this functionality was lost during the render update of june 2020

[2020-07-09 08:46] #3 closed, assigned to Ana06

[2020-07-10 16:13] mr-tz opened #129 "Reduce info output and output modes"
By default, I'd prefer a clean capa output that only provides the output. What do you think of basically switching `quiet` mode and the current output around (introding an `info` mode)?

While helpful these messages can be distracting:

[code]

What can go and what should stay?

[2020-07-11 11:50] mr-tz opened #130 "include reference to function that contains a given bb in json doc"
For basic block matches, we could tweak the output to include the function in which the BB is foun.d

[code]

[2020-07-11 13:14] mr-tz opened #132 "Update setup.py, doc: install rules in git submodule"
Now with rules submodule need to update `setup.py` and update doc, e.g. in installtion.md:

Method 2: Using capa as a Python library
2. Install capa module

[code]

[2020-07-12 11:32] mr-tz opened #134 "Update or temporarily remove IDA rule generator plugin"
After the recent updates the plugin is not functional right now.

Recommend to update or temporarily remove before release.

[2020-07-12 22:37] williballenthin opened #135 "dont render sections that don't have any data"
example from blog draft
![image](https://user-images.githubusercontent.com/156560/87258082-03539280-c45e-11ea-83eb-864b84c9d424.png)

[2020-07-13 15:31] williballenthin opened #136 "pick logo"

[2020-07-13 19:54] mr-tz opened #137 "doc: update example in readme"
@williballenthin the example description is outdated

_Originally posted by @mr-tz in https://github.com/fireeye/capa/pull/131/files_

[2020-07-13 20:33] williballenthin opened #138 "remove testbed files from capa-testfiles"
there are just too many bytes to handle. keep capa-testfiles as test fixtures and samples referenced by rules.

[2020-07-14 02:13] williballenthin opened #139 "build standalone binary for macOS for 1.0"
need to verify that pyinstaller works as expected on macOS so that we can release standalone binaries on 1.0 release day.

@Ana06 you're the only one with a mac here :-D

[2020-07-14 11:32] mr-tz opened #140 "-q output: none for packed sample"
mal.exe_ is packed for example

[code]

[2020-07-14 14:43] #140 closed, assigned to nobody

[2020-07-14 15:08] #136 closed, assigned to nobody

[2020-07-14 15:08] #138 closed, assigned to nobody

[2020-07-14 16:13] #129 closed, assigned to nobody

[2020-07-14 16:14] #134 closed, assigned to nobody

[2020-07-14 17:08] #66 closed, assigned to mike-hunhoff

[2020-07-14 17:18] #137 closed, assigned to nobody

[2020-07-14 17:27] #135 closed, assigned to williballenthin

[2020-07-14 17:32] #65 closed, assigned to nobody

[2020-07-14 20:44] #132 closed, assigned to nobody

[2020-07-14 21:24] williballenthin opened #144 "add license headers"
[code]

[2020-07-15 05:19] #101 closed, assigned to nobody

[2020-07-15 08:31] Ana06 opened #148 "ci: Run rule linter"
I think we should run it in both capa and capa rules.

[2020-07-15 08:33] Ana06 opened #149 "ci: run tests"

[2020-07-15 12:42] Ana06 opened #152 "version doesn't work without argument"
capa `--version` doesn't work without an argument

### Steps to Reproduce

[code]

[2020-07-15 14:40] #152 closed, assigned to nobody

[2020-07-15 16:01] williballenthin opened #154 "discussion: push capa library to pypi?"
putting capa on pypi would make it a lot easier for other projects to use its logic.

however, there are at least two concerns:
  1. rules are not packaged with the library, so users have to bring their own. i think this is ok.
  2. capa relies on vivisect, which is not on pypi.

(2) is the more interesting discussion. in [flare-floss](https://github.com/fireeye/flare-floss/) we avoided a release

[2020-07-15 18:16] williballenthin opened #156 "discussion: release cadence"
How often should we release major version of capa?

I'd like to use semver to indicate to our users when there are breaking changes to capa. So, anytime that someone's code might break due to a capa change, we should release a new major version.

Should we release major versions as soon as we make a breaking change? Should we bundle breaking changes together into major versions that are released o

[2020-07-15 18:24] williballenthin opened #157 "release 1.0"
do the release process for 1.0 today, 2020-07-15 in prep for public release on 2020-07-16

  - [x] await #155 merge, hopefully
  - [x] update `capa/version.py` with version `1.0.0` 1066707fdd4eea79e0ce50f7aca052a781e36195
  - [x] push to master
  - [x] tag release in gh, "draft release"
  - [x] pull from master with `--tags`
  - [x] pyinstaller build and attached to release page
    - [x] linux @w

[2020-07-15 20:07] williballenthin opened #158 "py2.7 doesn't have module `builtins` (helpers.py)"
![image](https://user-images.githubusercontent.com/156560/87590707-7b12fe80-c6a4-11ea-8179-20ea4c1304ca.png)

[2020-07-15 20:16] #144 closed, assigned to nobody

[2020-07-15 20:19] #158 closed, assigned to mike-hunhoff

[2020-07-15 20:54] williballenthin opened #159 "regex matches only a single string per scope"
as noted in https://github.com/fireeye/capa/pull/155/files#r455331827, Regex will only match a single string in a given scope, because it does an early return with the match locations. for completeness, it should probably return all matching strings in a scope. this shouldn't change what rules match, but the results will be more thorough.

[2020-07-15 21:22] #86 closed, assigned to Ana06

[2020-07-16 19:02] williballenthin commented on #157
released.

[2020-07-16 19:02] #157 closed

[2020-07-16 20:19] #75 closed

[2020-07-16 20:19] #76 closed

[2020-07-16 21:16] williballenthin commented on #154
ping @rakuy0 @atlas0fd00m for upstream vivisect perspective

[2020-07-16 21:21] mr-tz opened #163 "capa explorer rule generator support"
## Summary

Allow to write rules guided by IDA Pro's analysis.

## Motivation

Easy rule writing from withing IDA.

## Additional context

If you want to help on this, we have some existing code to get started.

## Functionality

The following is a list of functionality to support (no specific order):

- [x] automatically lint generated rule as user edits
- [x] save generated rule to file
- [x] ca

[2020-07-17 07:02] r0ny123 opened #165 "Capa explorer fails to run"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: [search](https://github.com/fireeye/capa/issues?q=is%3Aissue+is%3Aopen+)

### Description
Getting Error while invoking ida_capa_explorer.py using IDApro.
### Steps to Reproduce

1. Load a file into IDA
2. then `Alt+F7`
3. Navigate to `ida_cap

[2020-07-17 10:06] mr-tz commented on #165
Can you ensure you've downloaded `capa-rules` either directly or via loading the git submodule (see https://github.com/fireeye/capa/blob/master/doc/installation.md#2-check-out-source-code)?

[2020-07-17 10:37] Ana06 commented on #154
@williballenthin

couldn't we include the rules?

btw, this GitHubAction seems to make the automatic upload really easy: https://github.com/pypa/gh-action-pypi-publish

[2020-07-17 10:46] r0ny123 commented on #165
yes I later on downloaded the capa rules directly and placed them under `C:\python27-x64\Lib\site-packages` and the previous error was resolved but got some other following errors:
[code]
Any work around for this issue?
And I think [downloading capa rules](https://github.com/fireeye/capa/blob/master/doc/installation.md#2-check-out-source-code) should also be documented under https://github.com/fir

[2020-07-17 10:52] r0ny123 commented on #165
Oh I see this is already in [discussion](https://github.com/fireeye/capa/issues/154#issuecomment-660030213), +1 from me!

[2020-07-17 10:58] Maijin commented on #46
Adding a warning in the tool but also a warning in the README would be awesome!

[2020-07-17 11:25] mr-tz commented on #46
Notes on current limitations can be found at https://github.com/fireeye/capa/blob/master/doc/limitations.md

[2020-07-17 11:26] mr-tz commented on #46
From the SANS DFIR chat:

Is it possible to write a decryptor/unpacker for capa? For example if a binary uses aplib, could we write something for capa to automatically decompress and run the rest of the rules on that data?

We have ideas for some method of auto-unpack to deal with common packers (UPX, ASPack, etc) and an integration is definitely worth exploring further.

[2020-07-17 11:40] mr-tz commented on #165
I can't currently test in IDA 7.0. What output do you get for `idaapi.has_cf_chg` in the Python console (Output window)?

[2020-07-17 11:44] Maijin commented on #46
Kewl, nice for the limitations.md!

[2020-07-17 12:31] garanews opened #167 "consider using the multiprocessing module to parallelize capa"
## Summary

It would be useful to speed up the analysis running rules in parallel.

## Motivation

It's  really annoying to wait.

[2020-07-17 13:36] r0ny123 commented on #165
Output: `AttributeError: 'module' object has no attribute 'has_cf_chg'`

[2020-07-17 14:09] mr-tz commented on #165
Looks like this API call is not yet supported or maybe in a different module? @mike-hunhoff may be able to provide some help here (likely next week though).

We'll try to support older IDA versions, but will mostly focus on the current versions.

[2020-07-17 14:24] #139 closed

[2020-07-17 14:25] Ana06 commented on #148
This has been addressed in https://github.com/fireeye/capa/pull/166 and https://github.com/fireeye/capa-rules/pull/39

[2020-07-17 14:25] #148 closed

[2020-07-17 15:54] secshoggoth opened #168 "Add ability to specify .viv file locations"
## Summary

Capa fails to run if the file it is analyzing is located in a directory it does not have permissions to write to. In this case, it attempts to create the .viv file but fails.

## Motivation

This tool  may be run against files in directories that are write protected or are on remote systems that we do not have write access to.

## Describe alternatives you've considered

The workaround

[2020-07-17 15:58] mr-tz commented on #168
Good find. We'll address this shortly.

[2020-07-17 16:31] r0ny123 commented on #165
Thanks!

[2020-07-17 16:35] rakuy0 commented on #154
@williballenthin I'd like to apologize for the delay in getting vivisect up on pypi proper. At lot of other things have taken priority.

Personally, I would like to avoid any kind of naming collision since it generates confusion down the line. And to put my money where my mouth is: https://github.com/vivisect/vivisect/pull/292 (and test: `pip install -i https://test.pypi.org/simple/ vivisect`)

As

[2020-07-17 17:07] williballenthin commented on #168
should we keep creating .viv files or just do everything in memory? if we keep them around:

pro:
  - subsequent processing of the sample is faster

con:
  - fills up the file system
  - doesn't work with if the directory is not writable
  - not consistent with other tools like strings, which don't create analysis workspaces

we could auto-detect if the directory is writable, and if not, avoid wri

[2020-07-17 18:17] psifertex opened #169 "binary ninja plugin"
# Summary

There's already an IDA plugin (and #49 tracking the for a ghidra plugin), would be nice to have BN plugin.

## Motivation

Because many people use BN and capa has some nice features that would be great to expose to BN users.

[2020-07-17 18:29] psifertex opened #170 "codesign releases"
## Summary

Please consider code signing releases as it will make execution on Windows and MacOS easier:

<img width="532" alt="Screen Shot 2020-07-17 at 2 21 52 PM" src="https://user-images.githubusercontent.com/140215/87818629-dece3080-c838-11ea-98dd-2d173cdfcd7d.png">

## Motivation

I considered filing this as a bug but since there's a straight-forward work-around (approving the executable in

[2020-07-17 18:51] psifertex commented on #169
I'm working on this right now (starting with just the import script to test) and I came across: https://github.com/fireeye/capa/blob/master/scripts/import-to-ida.py

Can you clarify how the "All Rights Reserved" on that interacts with the Apache license on the whole repo? I assume it's an artifact from before the apache license was added?

I'd like to create a derivative of that script but obvious

[2020-07-17 21:08] atlas0fd00m commented on #154
@williballenthin when we cut over to Py3, what are the coordination needs on your side?  are your projects ready to go when vivisect is completes the Py3 migration?

as for Pypi, as @rakuy0 stated, it's a priority and almost out the door.  thanks for tagging us into this conversation.

[2020-07-19 21:41] williballenthin commented on #169
The capa tool and its supporting resources are released under the Apache 2.0 license. The FireEye legal team had asked us to include the header on each source file, though to be completely honest, I don't know the ins-and-outs. I will ask around and see if they can clarify what they expect this header to convey. For the past many months, there has been agreement to release the tool under Apache 2.

[2020-07-19 21:51] williballenthin commented on #154
capa runs under py3 when using IDAPython as the backend, so this project is good to go.

floss will probably need some updates, and its do for a refresh soon, anyways. i'll be happy to volunteer this effort :-)

[2020-07-19 22:04] psifertex commented on #169
Thanks! If you don't mind a suggestion, maybe:

```Copyright (C) 2020 FireEye, Inc. Released under an Apache License Version 2.0.```

is worth running by the legal team. If they've already agreed to the license I can't imagine they'd mind as you point-out.

Normally having the repo license be Apache 2.0 is enough to be sure, but it's not uncommon for some repositories to be generally released unde

[2020-07-20 14:56] lordtmk commented on #165
Hi guys, first thanks for all the work done to capa so far.
I have the same setup than r0ny, did all the steps and got the same error :
`AttributeError: 'module' object has no attribute 'has_cf_chg'`

I checked on the web and i saw that 'has_cf_chg' belong to ida_idp module.
So i changed all idaapi calls in helpers.py to ida_idp.

Now i got a new error, i don't now if thats due to the modification

[2020-07-20 16:17] dekaraj opened #172 "How to use the standalone executables for Windows"
Hi, can you give me an example of how to run the standalone executables of CAPA for Windows?

On opening any malware sample with it, the output screen does not hold, it opens and closes by itself. and not able to open using cmd also.

please help.

[2020-07-20 19:28] mr-tz commented on #172
`capa-v1.0.0-win.exe <sample>`

![2020-07-20_21-26-36](https://user-images.githubusercontent.com/17606537/87977859-b744c580-cacf-11ea-8e8d-7a1acdbf0694.png)

[2020-07-21 14:58] williballenthin commented on #172
We should update our documentation to highlight that capa is "a command line tool that should be run from the terminal".

[2020-07-21 15:09] williballenthin opened #173 "update license header"
In #169, @psifertex asks

_Originally posted by @psifertex in https://github.com/fireeye/capa/issues/169#issuecomment-660282048_

and continues:

_Originally posted by @psifertex in https://github.com/fireeye/capa/issues/169#issuecomment-660716440_

I've run this past the legal team and they've reiterated that capa is released under Apache 2.0 with no modifications. The existing header was intende

[2020-07-21 15:10] williballenthin commented on #169
Let's move the licensing discussion to #173. Please keep updating us on the Binary Ninja integration here!

[2020-07-21 19:21] dekaraj commented on #172
'capa-v1.0.0-win.exe' is not recognized as an internal or external command,
operable program or batch file.

![image](https://user-images.githubusercontent.com/68317728/88097257-83dc6680-cbb5-11ea-8da4-a41619b49890.png)

[2020-07-21 19:28] r0ny123 commented on #172
You should add the location of your capa file path to windows environment variables.

[2020-07-21 19:38] dekaraj commented on #172
what are the file types currently supported by CAPA?
will it work for doc, pdf  file?

[2020-07-21 19:45] r0ny123 commented on #172
I already told you and you should check the https://github.com/fireeye/capa/blob/master/README.md carefully before asking and also check [here](https://github.com/fireeye/capa/blob/master/README.md) for CAPA's limitations.

[2020-07-21 19:48] dekaraj commented on #172
sorry i missed the previous edited section in your comment. thank u

[2020-07-22 00:14] psifertex commented on #173
That updated header looks great, thanks for running that down.

[2020-07-22 07:19] mr-tz commented on #172
added in https://github.com/fireeye/capa/commit/9b873aeba75945464769f3c01a5c7168605aee04

[2020-07-22 07:19] #172 closed

[2020-07-22 17:23] Ana06 opened #174 "Test broken in master: No such file or directory: 'tests/data/kernel32.dll_'"
tests/fixtures.py is failing in master:

[code]

Are we missing a file in [capa-testfiles](https://github.com/fireeye/capa-testfiles)? 🤔

[2020-07-22 17:46] j3dw4rds opened #176 "Error: Bad Memory Access causes capa script/binary to fail and exit"
<img width="921" alt="Screen Shot 2020-07-22 at 12 45 09 PM" src="https://user-images.githubusercontent.com/25807782/88210109-44dffc80-cc19-11ea-9cd2-5358ff83a063.png">

Unsure what's happening or why this file in particular.

[2020-07-22 17:49] williballenthin opened #177 "pin viv version in setup.py"
vivisect has breaking changes occasionally, so we should pin the version we expect to install for capa.

[2020-07-22 17:49] williballenthin commented on #154
#175 might be sufficient here, need to test

[2020-07-22 17:50] williballenthin commented on #174
oh, this was the file i was using to test git lfs, and seems like it never made it to testfiles. let me add that now.

[2020-07-22 17:56] j3dw4rds commented on #176
`C:\Users\jemblem13\Desktop>capa-v1.0.0-win.exe -v C:\Users\jemblem13\Desktop\4790845268590592\987dbef97c27a6f1f45417d3d29eafdf9dcc8c7dee0ef659d0bf0e5424a00b8c
104 functions [00:00, 107.08 functions/s]
Traceback (most recent call last):
  File "capa\main.py", line 646, in <module>
  File "capa\main.py", line 556, in main
  File "capa\main.py", line 106, in find_capabilities
  File "capa\main.py",

[2020-07-22 18:08] williballenthin commented on #174
added in 7a9a5328a8a74beb38974294f69ff1931a146403

[2020-07-22 18:12] #174 closed

[2020-07-22 18:13] williballenthin commented on #149
added in def4ad68c37127836a045026e0e59e6571798a9e

[2020-07-22 18:13] #149 closed

[2020-07-22 18:15] williballenthin commented on #18
added in https://github.com/fireeye/capa-rules/commit/6fa768bbefffd1517b824208c183968dc16724f3

[2020-07-22 18:15] #18 closed

[2020-07-22 18:17] williballenthin commented on #174
tests working again, like here: https://github.com/fireeye/capa/runs/899727613?check_suite_focus=true

[2020-07-22 18:17] williballenthin commented on #176
definitely a bug in capa, thanks for reporting! I'll address this today.

[2020-07-22 18:18] williballenthin opened #178 "use gh actions to build nightly binaries"
like we did with flare-floss

[2020-07-22 18:34] williballenthin commented on #154
sent the following email to the account associated with the PyPI project "capa" that I wonder might be @tranvinhthuy ?

![image](https://user-images.githubusercontent.com/156560/88214527-92f40080-cc17-11ea-8689-b5ceb46f9bdc.png)

in the meantime, i'll test using `flare-capa` project on PyPI.

[2020-07-22 18:41] williballenthin commented on #154
nope, can't have a "direct dependency" URL specified in setup.py for viv:

![image](https://user-images.githubusercontent.com/156560/88215271-a2c01480-cc18-11ea-8c91-e11cf757b7a0.png)

[2020-07-22 18:42] williballenthin commented on #154
so this does exist: https://pypi.org/project/flare-capa/ but hopefully one day we'll get https://pypi.org/project/capa/

[2020-07-22 18:53] #177 closed

[2020-07-22 21:06] #173 closed

[2020-07-22 21:22] mr-tz commented on #165
I did some digging in an older IDA 7.0:
1. My version (7.0.170914 Windows x64) does not even include any reference to `has_cf_chg`, can you try `$ grep -Eir has_cf_chg <IDADIR>`? We may need an alternative way to check operand writes/reads.
2. For the failing `bytes_to_str` it looks like `retrieve_input_file_sha256` is failing (likely a bug, I saw some discussions online), to circumvent, can you t

[2020-07-22 21:42] williballenthin commented on #165
we should version check at the start of the script and bail if an unsupported version of IDA is encountered.

[2020-07-22 21:43] williballenthin opened #179 "assert supported version of IDA(Python) at the start of the plugin"
as IDAPython's API has changed over the years, we can only support so many versions. so, be explicit about what we can/cannot support and let the user know when this happens.

[2020-07-22 21:47] williballenthin commented on #170
here's how to codesign a binary produced by PyInstaller: https://github.com/pyinstaller/pyinstaller/wiki/Recipe-OSX-Code-Signing

here's how to import a cert via GH actions: https://github.com/marketplace/actions/import-code-signing-certificates

[2020-07-22 21:49] williballenthin commented on #170
probably should do this after #178 (nightly builds via gh actions) so the builds are automated, rather than point and click.

@Ana06 this issue is probably yours, since me/moritz don't have a mac. Let me know if this won't work and I'll ...ask FEYE for a macbook? :-D

[2020-07-22 21:56] williballenthin commented on #167
I agree that capa can take a while to complete its analysis, primarily because its doing a complete disassembly and emulation to reconstruct the code flow of the input program.

Unfortunately, the underlying code analysis engine is not easily parallelizable, due to the way it maintains shared state in a workspace. The upfront analysis cannot be distributed via multiprocessing.

The matching that c

[2020-07-22 21:56] #167 closed

[2020-07-22 21:59] williballenthin commented on #106
we're currently running tests within about 3m30s, which i think its fairly reasonable. adding viv files may cut this down by perhaps 50%, at the expense of 2-3x the capa-testfiles repo size. for this reason, i don't think we should address this issue right now.

re-open in the future if need be.

[2020-07-22 21:59] #106 closed

[2020-07-23 00:59] williballenthin commented on #176
ok, so we're dealing with a weird binary. before i figure a solution, let me document what is happening:

The PE has one section `.rdata`:
![image](https://user-images.githubusercontent.com/156560/88243311-46c3b300-cc4d-11ea-9508-e0be82283129.png)

This is where vivisect is trying to read a string. However, this section is mapped as `WX` but *not* `R`. Vivisect faithfully raises a segmentation vio

[2020-07-23 07:10] Ana06 commented on #170
@williballenthin

You can use macos in GitHub Actions. It is cheaper than a macbook 😆

Should I do this with the current binary already or we just do it in GitHub Actions for the next version? We may want to release a new version with https://github.com/fireeye/capa/pull/180 soon anyway... 🤔

[2020-07-23 07:26] Ana06 commented on #154
Direct dependencies don't work in PyPI. They do not want PyPI to reach URLs outside PyPI: https://github.com/pypa/pip/issues/5566#issuecomment-402417467

[2020-07-23 10:25] AdamUoNSec opened #181 "Alter summary screen font colour - unreadable in PowerShell"
This is a minor issue, but running the standalone exe through PowerShell results in a summary screen that's very hard to read. The blue is very close to the default PowerShell background.

Not an issue in CMD of course but PowerShell is the better environment, having replaced CMD as the default for years now.

![image](https://user-images.githubusercontent.com/68689334/88276218-939f9c00-ccd6-11ea-

[2020-07-23 12:38] lordtmk commented on #165
1 : Nothing happens

<img width="436" alt="Capture d’écran 2020-07-23 à 14 35 13" src="https://user-images.githubusercontent.com/42848077/88287032-0a965e00-ccf2-11ea-98d8-8a1bc41a017a.png">

2 :

`IDAPython: Error while calling Python callback <OnCreate>:
Traceback (most recent call last):
  File "C:/python27-x64/Lib/site-packages/capa/ida/ida_capa_explorer.py", line 104, in OnCreate
    self.lo

[2020-07-23 12:55] mr-tz commented on #165
Yeah 😞 Looks like your version does not support this API call (1) and that the `get_strlit_contents` (2) behaves buggy/unexpected as well.

[2020-07-23 14:34] Ana06 commented on #181
capa is using the default blue configured in your terminal. It is IMO a PowerShell bug to use a default blue that is not readable with their default background color.

Most terminals give you an easy way to modify the default colors and include profiles in which all the default colors are readable in the default background color. For example iterm2:
![Screen Shot 2020-07-23 at 16 24 36](https://us

[2020-07-23 14:52] AdamUoNSec commented on #181
That's a fair assessment, this isn't the first time I've run into the problem.

A no-color option sounds like a good idea from an accessibility standpoint, regardless.

[2020-07-23 14:58] re-fox opened #182 "[Bug] : TypeError: unsupported operand type(s) for +: 'int' and 'str'"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: [search](https://github.com/fireeye/capa/issues?q=is%3Aissue+is%3Aopen+)

### Description
The following rule will cause an error when running with `-vv`.  The rule will run fine with `-v` and no verbose option.

### Steps to Reproduce

1. Use

[2020-07-23 15:03] Ana06 commented on #181
@AdamUoNSec

I was expecting that it was easy to configure colors in all terminals, so that people needing an special configuration change it globally for all console applications. It may be that PowerShell is not the best option for accesibility... but still a `no-color` option may be a good idea.

[2020-07-23 15:11] williballenthin commented on #181
you can use `capa --color=never` to disable output coloring, which is probably best in the ps1 terminal.

[2020-07-23 15:12] Ana06 commented on #181
Oh! we already have an option. 🙈 Then we can close this I guess...

[2020-07-23 15:16] AdamUoNSec commented on #181
Good stuff, thanks Will - didn't spot that on the help page!

[2020-07-23 15:16] #181 closed

[2020-07-23 16:09] williballenthin opened #183 "introduce changelog"
@Ana06 made a case that we should have a changelog that makes it easy to see whats changed from version to version. we've previously relied on gh release tab for this info. but, it seems trivial to keep the two in sync.

we really like https://github.com/rubocop-hq/rubocop/blob/master/CHANGELOG.md as an example

for the next few weeks, i'll update the changelog as part of the release process. if t

[2020-07-23 16:16] williballenthin opened #184 "document release process"
documenting the release process here, and we can migrate to the docs once its finalized.

  0. ensure tests pass and linter --thorough works
  1. update [version.py](https://github.com/fireeye/capa/blob/master/capa/version.py)
  2. review changes
    a.  capa https://github.com/fireeye/capa/compare/v1.0.0...v1.0.1
    b.  capa-rules https://github.com/fireeye/capa-rules/compare/v1.0.0...v1.0.1
  3

[2020-07-23 16:54] #176 closed

[2020-07-23 17:12] #182 closed

[2020-07-23 17:22] williballenthin opened #188 "linter exception in --thorough mode"
[code]

[2020-07-23 17:39] williballenthin opened #189 "linter filename recommendation is incorrect"
![image](https://user-images.githubusercontent.com/156560/88319261-25100d80-ccd9-11ea-8223-63dad1122f31.png)

see https://github.com/fireeye/capa-rules/pull/48/checks?check_run_id=903712651

[2020-07-23 17:41] williballenthin opened #190 "linter should ignore period in rule name"
see https://github.com/fireeye/capa-rules/pull/48

[2020-07-23 17:43] #190 closed

[2020-07-23 17:45] williballenthin commented on #189
![image](https://user-images.githubusercontent.com/156560/88319804-e75fb480-ccd9-11ea-99d1-8b90cd7853c2.png)

hm, so we overwrite `self.recommendation` with the suggestion, which replaces the format specifier, so subsequent lints can't update this.

[2020-07-23 17:55] #189 closed

[2020-07-23 18:06] williballenthin commented on #188
```DEBUG:capa.lint:hash data using murmur2```

[2020-07-23 18:08] williballenthin commented on #188
this is because there is a key `examples` but no entries:
![image](https://user-images.githubusercontent.com/156560/88321982-4246db00-ccdd-11ea-8c30-bb89b38eca1b.png)

[2020-07-23 18:10] #188 closed

[2020-07-23 19:58] re-fox opened #191 "Loop Detection Question"
I had a question on the feature `characteristic: loop`.

I have a function that does contain a loop but the characteristic appears to not be recognized.

In sample `1d8fd13c890060464019c0f07b928b1a` (Located in the `capa-testfiles` repo) at offset: `0x401920`.

The function graph contains the following blocks:
![image](https://user-images.githubusercontent.com/57954766/88332303-4d5d3380-ccfc-11ea-

[2020-07-23 20:38] re-fox commented on #191
If it helps another example of this is in the RC4 section `0x4015F0` of the malware mentioned above `1d8fd13c890060464019c0f07b928b1a`

Removing the `match: contain loop` condition from the `encrypt-data-using-rc4-prga.yml` rule will cause the rule correctly ID the function.  (Shown below)
[code]

A screenshot of the function, showing a loop:
![image](https://user-images.githubusercontent.com/5795

[2020-07-23 22:38] mike-hunhoff commented on #191
Looks like this is a bug caused by some unexpected behavior in Vivisect.

Vivisect does not set any branch flags for the `jmp` instructions @ `0x401617` and `0x401699`:
[code]
This causes the following check to ignore the branches @ `0x401617` and `0x401699` causing the loop detection to fail:
 https://github.com/fireeye/capa/blob/583f3f74ecfb6f3b430ba05408b5cb2f2a5c4b3b/capa/features/extractors/v

[2020-07-23 23:00] williballenthin commented on #191
here are the intended meanings of the branch flags:

[code]
https://github.com/vivisect/vivisect/blob/402e944e0b1d7ff07ab702c8651a7c1723b24023/envi/__init__.py#L60-L66

given this, i think the behavior of not setting a branch flag is probably correct. i think capa needs to check for the mnemonic `jmp` in the extraction code?

[2020-07-23 23:03] mike-hunhoff commented on #191
@williballenthin I think you're correct. I updated my comment after taking another look. Can capa simply check for the branch flags it doesn't want to record specifically `BR_PROC`, `BR_DEREF`, and `BR_ARCH`?

[2020-07-23 23:13] #168 closed

[2020-07-24 00:49] jsmnsr opened #193 "Do not print tqdm progress when -q, --quiet switch is used"
## Summary
Capa outputs tqdm updates even when the -q switch is used. This should probably be supressed.

## Motivation

The expectation of the -q switch is that there is no output to the shell upon execution of the command.

## Describe alternatives you've considered

It seems like you can quiet it by passing the right argument to tqdm, but that is not connected to the -q switch. It would be pref

[2020-07-24 08:47] Ana06 opened #194 "Enable descriptions for statement nodes"
### Summary

Enable descriptions for statement nodes such as `and` and `or`.

For example:
[code]

### Motivation

@re-fox has provided a use of case in: fireeye/capa-rules/pull/51

### Additional context

We need to come up with a way to render this in the `-vv` output. Suggestions:

##### 1 - Inline as a comment
[code]

##### 2 - Inline with the already existent description symbol
[code]

#####

[2020-07-24 09:29] Ana06 commented on #184
This will be useful: https://github.com/actions/create-release 😉

[2020-07-24 09:38] #193 closed

[2020-07-24 14:17] Ana06 opened #196 "Should we add more badges?"
### Summary
I think it would be useful/cool/beautiful to add some more badges. :bowtie:

##### Downloads number

I don't know if you have realized but capa binaries have already been downloaded 1870 times. This deserves a badge! 🥳

![image](https://img.shields.io/github/downloads/fireeye/capa/total)

It has also been cloned 720 times (although by only 292 unique cloners... I wonder who is cloning

[2020-07-24 15:04] mike-hunhoff commented on #191
fixed in #192.

[2020-07-24 15:04] #191 closed

[2020-07-24 15:27] williballenthin commented on #193
nice catch @jsmnsr thanks!

[2020-07-24 16:21] williballenthin opened #197 "support negative offset features"
currently we have a lint that rejects rules that contain negative numbers, specifically constants and offsets. i think this is primarily because its can be difficult to determine how immediate operands should be interpreted as signed or unsigned values. therefore, this restriction makes sense for constants/numbers; however, the way that we extract offsets (from memory reference operands) does supp

[2020-07-24 16:38] williballenthin commented on #197
https://github.com/fireeye/capa-rules/pull/52#discussion_r460149445

**Short answer:** no we do not officially support negative numbers

**Because**: By default both the viv and IDA APIs default to two's complement for representing numbers so capa can't match `-1` because it only sees the two's complement form `0xFFFFFFFF`.

**However:** It appears that the viv API does not default to two's comple

[2020-07-24 16:45] williballenthin commented on #197
according to https://cse.unl.edu/~goddard/Courses/CSCE351/IntelArchitecture/IntelDataType.pdf

![image](https://user-images.githubusercontent.com/156560/88414803-ae3b4900-cd9a-11ea-898e-bdd363f66159.png)

looks like we can assume offsets are guaranteed to be signed, so we could enforce that feature extractors auto-convert twos complement to signed values

[2020-07-24 16:51] williballenthin commented on #196
wonder if this is GH actions??

[2020-07-24 16:52] williballenthin commented on #196
![image](https://user-images.githubusercontent.com/156560/88415453-c52e6b00-cd9b-11ea-94db-b2cc26e89472.png)

[2020-07-24 16:53] williballenthin commented on #194
yeah, i'm leaning towards 2 for consistency and keeping a dense representation of the information.

[2020-07-24 16:54] williballenthin commented on #194
we'll need to add support in the json document, too

[2020-07-24 19:44] Dump-GUY opened #198 "Capa json output producing more capabilities"
### Describtion
During testing of Capa standalone on Win7 and Win10, Capa is producing more detected Capabilities in Json output than in console output without argument or with -v or -vv

### Steps to Reproduce
Run standalone version capa-v1.0.0-win.exe on windows machine and compare detected Capabilities with mentioned arguments and with json output option.

**Expected behavior:**
Producing same

[2020-07-24 19:50] williballenthin commented on #198
this is because the json report includes matches of ["lib" rules](https://github.com/fireeye/capa-rules#library-rules). these are rules that are meant to be used by other rules, rather than displayed to the user. hence, they have `rule.meta.lib=True` and no namespace.

so, this might be initially surprising, but its expected behavior.

![image](https://user-images.githubusercontent.com/156560/8842

[2020-07-24 19:50] #198 closed

[2020-07-24 19:54] williballenthin opened #199 "update viv once vivisect#296 lands"
there is a bug in instruction decoding that some existing rules do exercise, see https://github.com/fireeye/capa-rules/issues/49. once a fix is merged, update our viv fork and bump the capa dep version.

https://github.com/vivisect/vivisect/issues/296

[2020-07-24 20:31] Ana06 commented on #196
@williballenthin

Yesterday there were ~30 runs in capa and ~20 in capa-rules. Taking into account that capa CI workflow checkouts the repo 3 times, this seems to be the case. :open_mouth: So we don't want a badge with the number of clones then. :rofl: we could still add the number of downloads which is really easy to add as it is built in in [shields](https://shields.io).

[2020-07-24 20:41] williballenthin opened #200 "support extracting pointer to string"
in PMA 05-01 at 0x10001722 is:

![image](https://user-images.githubusercontent.com/156560/88433573-96c08800-cdbb-11ea-9b65-c5ff5f6e180d.png)

![image](https://user-images.githubusercontent.com/156560/88433673-c4a5cc80-cdbb-11ea-9f86-ed860e919c45.png)

capa doesnt recognize the string:

![image](https://user-images.githubusercontent.com/156560/88433602-a0e28680-cdbb-11ea-8c3e-0a41e0496ec4.png)

pro

[2020-07-24 21:48] williballenthin opened #201 "update viv once vivisect#297 (delayed imports) lands"
the viv PE parser doesn't support delayed imports. contribute this feature, and then bump the viv version that capa depends on.

[2020-07-25 00:41] williballenthin opened #202 "add tests for IDA Pro backend"
because otherwise i'm not sure if my changes are breaking things!

[2020-07-25 03:09] re-fox opened #203 "Control flow obfuscation causing basic block to be missed"
### Description
This issue may be for vivisect, but it appears that some control flow obfuscation is (I assume) causing a basic block to be missed.  I've posted up my notes below for troubleshooting.

### Steps to Reproduce
1. Run Capa with the following rule, against the attached binary
[329b3ddbf1c00b7767f0ec39b90eb9f4f8bd98ace60e2f6b6fbfb9adf25e3ef9.zip](https://github.com/fireeye/capa/files/49

[2020-07-25 19:42] re-fox commented on #196
I clone the repo multiple times per day (not 720 times though!) using a container based workflow -> https://github.com/re-fox/capa-docker.  Clones and rebuilds are cheap.  In many cases, it's just as easy to tear down the container and build a new one than maintain an existing repo.

[2020-07-25 23:45] psifertex opened #206 "update license"
Might want to update the license file information from the defaults:

https://github.com/fireeye/capa/blob/master/LICENSE.txt#L190

[2020-07-26 00:37] #206 closed

[2020-07-26 00:37] williballenthin commented on #206
thanks!

[2020-07-26 00:50] williballenthin commented on #203
i'll triage this, maybe on monday or tuesday. unfortunately, we're at the whim of the underlying analysis engine, so unless there's a quick fix, we may just have to accept it.

yesterday, i noticed a bunch of FNs due to viv not finding functions, too.

[2020-07-26 00:51] williballenthin commented on #203
getting a ghidra plugin working is pretty high on my priority list (especially adding py3 ;-) ), and i know @psifertex is actively working on BN. so, we'll soon have a pretty comprehensive set of backends from which you can pick your favorite.

[2020-07-26 02:53] psifertex commented on #203
Yup! Seeing this maybe I'll prioritize the backend as opposed to the UI though the true CLI version of capa will only work via a commercial headless license. Using capa as a library in the BN Python repl would still work in personal, but I'm still wrapping my head around the current capa architecture a bit.

RE: Py3 and Ghidra, those are mutually exclusive though, no? I think jython still has no p

[2020-07-27 16:15] williballenthin commented on #49
@psifertex would be interested to hear your feedback on our plan here: http://www.williballenthin.com/post/2020-05-20-sketch-modern-python-in-ghidra/

[2020-07-27 16:53] re-fox commented on #203
Thanks for the comments, looking forward to more analysis backends.

In Ghidra, Radare, and BinaryNinja the analysis level can be adjusted.  Running aggressive function finders may result in some bad analysis, but it may also find functions that we not disassembled on the initial pass.

BinaryNinja does some neat stuff with opaque predicate removal and simplifying control flow in their lifting.  I

[2020-07-27 17:41] #197 closed

[2020-07-27 17:41] #202 closed

[2020-07-27 17:51] williballenthin commented on #203
yeah, vivisect has a configurable set of analysis passes; however, i believe they're all enabled by default, so there's not a dial that we could turn further.

but, we could provide our own "aggressive function finder" when we initialize viv and maybe find more code. i think a function prologue scan would probably help, for instance.

[2020-07-28 02:03] psifertex commented on #49
Hmm, I'm probably not the right person to provide feedback as I have very little JVM experience. One concern might be multithreading with other native plugins--in particular the decompiler. That said, if you limited your usage to either just automated processing where you let analysis run to completion and then use the recovered CFG, as well as a separate plugin to display results, it seems doable

[2020-07-28 03:28] williballenthin commented on #49
i think the primary motivation is that lots of people use ghidra, so if we support ghidra, then more people get access to capa. also, it does provide a solid UI framework through which we can provide neat interfaces, like we've done with IDA. i hate requiring expensive tools to be able to benefit from these research projects (no zing intended, i promise!).

[2020-07-28 16:02] #194 closed

[2020-07-28 16:15] williballenthin opened #210 "extend offset feature to account for architecture/bitness"
on different architectures (specifically x32 vs x64) the sizes and layouts of structures will differ. right now, capa doesn't have an easy way to limit its offset features based on the architecture, which means there's a greater chance of FP binaries of the wrong bitness. we should consider extending the offset features with tags specifying what bitnesses they match.

initially motivated here: htt

[2020-07-28 16:18] williballenthin opened #211 "fix rendering of negative offsets in vverbose mode"
see example in https://github.com/fireeye/capa-rules/pull/52#issuecomment-665110382

like:

[code]

[2020-07-28 16:36] williballenthin opened #212 "add search bar to IDA Pro plugin"
sometimes the list of results in the IDA Pro plugin is very long, so when i'm looking for a specific rule, its tricky to locate. having a search bar at the top would make it easy to filter down the matches to rows that i care about.

should match the rule name and probably namespace, too. or maybe all meta fields?

![image](https://user-images.githubusercontent.com/156560/88694730-27e67600-d0be-11

[2020-07-28 16:47] #211 closed

[2020-07-29 04:21] psifertex commented on #49
Your front-end is separate from your back-end, no? It might be easier to implement a ghidra front-end with java so it's more native so-to-speak and just give it the ability to integrate results from capa with a much more clearly defined set of APIs.

All I'm proposing is that depending on your goals you might be better served by considering angr as another alternative for back-end processing (whic

[2020-07-29 08:26] Ana06 opened #214 "Should we support inline descriptions for statements?"
### Summary
Since https://github.com/fireeye/capa/pull/209, we support the two-lines syntax for descriptions. Should we support inline syntax as we do with features (expect strings) as well?

### Motivation

The rule [`load-code/pe/parse-pe-header.yml`](https://github.com/fireeye/capa-rules/blob/master/load-code/pe/parse-pe-header.yml) includes:
[code]

which could naturally be changed to inline d

[2020-07-29 15:54] williballenthin commented on #214
i dont think we can do this as easily, because the ` - statement:` introduces a yaml block, and if we add text beyond the `:`, then the block will probably be parsed differently.

![image](https://user-images.githubusercontent.com/156560/88822709-6e50d900-d181-11ea-85b2-69d312645c87.png)

[2020-07-29 17:39] Ana06 commented on #214
👍 I think it is not worthwhile to parse the yaml in a custom way.

[2020-07-29 17:39] #214 closed

[2020-07-30 14:03] mr-tz commented on #165
As mentioned before, given API differences we won't be able to support all versions of IDA Pro. We'll add a check to clarify what is supported to the plugin; tracked in https://github.com/fireeye/capa/issues/179.

For older versions using the importer script is a good workaround: https://github.com/fireeye/capa/blob/master/scripts/import-to-ida.py

[2020-07-30 14:03] #165 closed

[2020-07-30 14:33] r0ny123 commented on #165
I am gonna try that import script.

[2020-07-30 17:09] williballenthin commented on #159
we'll have to update the vverbose renderer when we fix this, because the matches strings may be different (unless a number feature, where number=10 is always rendered the same way).

use 7204e3efc2434012e13ca939db0d0b02 as a testcase

[2020-07-30 17:45] williballenthin commented on #210
@mr-tz points out that we should enable these flavors for numbers, too.

[2020-07-30 17:46] williballenthin commented on #210
after further consideration, suggest using prefixes `/x32` and `/x64` to better indicate this is an arch thing, not the width of the value, etc.

[2020-07-30 19:53] williballenthin commented on #154
vivisect on pypi!?
https://pypi.org/project/vivisect/#history

[2020-07-31 09:43] #179 closed

[2020-08-03 17:41] Maijin commented on #47
Would be nice to add basic support for script based file - (not speaking about emulation but just checking for strings could easily be enough to cover a lot).

[2020-08-03 18:48] williballenthin commented on #47
that's a good point, though I wonder if rules are strictly strings-based, then yara might be a better fit? but, we market "capa for capabilities, yara for detection" (oversimplified) so we should find a way to explain this with more nuance.

[2020-08-03 23:00] williballenthin commented on #200
mimikatz has:

![image](https://user-images.githubusercontent.com/156560/89235085-d00eaa00-d5aa-11ea-8011-cff86bb91b39.png)
![image](https://user-images.githubusercontent.com/156560/89235119-d9981200-d5aa-11ea-9f2a-9f7ae980fe0b.png)

not exactly the same, but should work with our existing primary test file

[2020-08-04 01:18] williballenthin commented on #203
in the sample originally provided by @re-fox, the function in question contains a good deal of anti-disassembly. for example:

![image](https://user-images.githubusercontent.com/156560/89241998-b32fa200-d5bd-11ea-8591-15dbb11472de.png)

(this is consistent with the screenshots above).

IDA is not able to tie the basic block back to a function, so I don't the IDA Pro plugin would work either (we cu

[2020-08-04 15:41] #200 closed

[2020-08-04 15:52] williballenthin opened #218 "IDA Pro plugin doesn't work when opening a subsequent idb"
When using the IDA Pro plugin, close the workspace and open another sample, re-run the plugin. The results are inconsistent or empty.

[2020-08-04 15:52] williballenthin commented on #218
I wonder if it has to do with the global state for the cache here:
![image](https://user-images.githubusercontent.com/156560/89315565-3beb2400-d638-11ea-8885-ea50b7d6571a.png)

[2020-08-04 16:14] #210 closed

[2020-08-04 16:40] williballenthin commented on #159
this is going to change the result document, where a `regex` node will have a field `matches` instead of `match`.

[2020-08-04 18:24] #178 closed

[2020-08-04 19:07] #199 closed

[2020-08-04 22:38] #156 closed

[2020-08-04 22:40] williballenthin commented on #41
i think this is probably a lot of configuration for something that we already have as part of the release process (which is not automated). closing for now.

[2020-08-04 22:40] #41 closed

[2020-08-05 03:55] #218 closed

[2020-08-05 14:11] #183 closed

[2020-08-06 11:45] mr-tz opened #223 "IDA: extract strings/bytes from nested pointers"
### Summary
IDA extractor should support functionality similar to https://github.com/fireeye/capa/pull/217 (viv: extract strings/bytes from nested pointers).

### Todo
Double check that this is the case or implement it

[2020-08-06 16:49] Ana06 opened #224 "Do not render rules used by other rules by default"
### Summary

Do not show rules used by other rules in the default output.

### Motivation

The default output gets too noisy with capabilities that are not very relevant as they are used to achieve another detected capability. If the number of rules continue increasing this will get more noisy. 😄

[2020-08-08 20:07] williballenthin opened #225 "tests: derive tests from data to support backend parity"
current we test our backends (like viv and IDA) using pytest scripts like `test_viv_features` that contain a bunch of hardcoded assertions. this makes it easy for a human to read and edit.

as we add more backends, we'll want to be able to demonstrate that all the backends extract the same basic set of features. if we continue with the current strategy, then we'll have a lot of code duplication. f

[2020-08-08 20:08] williballenthin commented on #225
incidentally, with a measured sprinkling of `functools.lru_cache`, the tests run super quickly:

[2020-08-10 21:51] mike-hunhoff opened #227 "extract strings/bytes from pointer tables"
Register is used as index into table of string pointers @ `mimikatz:0x44EE5A`:

![snipmi_1](https://user-images.githubusercontent.com/42192796/89834670-25e9d180-db18-11ea-9937-44531f657f57.PNG)

The table of string pointers @ `mimikatz:0x4475ca0` contains pointers to four strings:

<img width="744" alt="Screen Shot 2020-08-10 at 2 41 20 PM" src="https://user-images.githubusercontent.com/42192796/8

[2020-08-11 19:09] mike-hunhoff opened #229 "emit number feature for immediate memory reference not mapped to loaded binary"
The following code contains an immediate memory reference that is not mapped to the loaded binary:

![snippy_2](https://user-images.githubusercontent.com/42192796/89937043-68b7b200-dbc9-11ea-9e19-118dcfc9711c.PNG)

The address `0x7FFE02D4` is a fixed user mode address that can be used by malware to detect the presence of a kernel mode debugger as demonstrated [here](https://github.com/LordNotewort

[2020-08-11 21:04] #229 closed

[2020-08-12 23:29] williballenthin opened #231 "remove characteristic(switch)?"
we currently support a feature `characteristic(switch)`; however, none of our rules use it. this alone is probably grounds enough to consider removing it. furthermore, switch analysis is not very easy, and i expect analysis results to differ across backends - leading to inconsistency.

can we remove this feature?

[2020-08-13 04:22] #223 closed

[2020-08-13 09:34] mr-tz commented on #231
Yes, I'm fine with removing it. I think we had something in mind for it that didn't work out.

[2020-08-13 16:07] #231 closed

[2020-08-13 18:31] mike-hunhoff opened #233 "allow wildcards and skips for bytes feature"
Add support for wildcards and skips for `bytes` feature similar to [Yara hexadecimal strings](https://yara.readthedocs.io/en/stable/writingrules.html#hexadecimal-strings).

[2020-08-13 18:50] williballenthin commented on #233
we can support this by translating the bytes literal into a regular express (python supports byte literals in regexes).

how would you use this feature?

[2020-08-14 19:17] williballenthin opened #237 "ida extractor doesn't correctly ignore stack cookie nzxor features"
![image](https://user-images.githubusercontent.com/156560/90285132-85095800-de30-11ea-9f1e-a039f54bf166.png)

[2020-08-14 19:23] williballenthin commented on #237
@mike-hunhoff  i'm going to assign you since you built the IDA `bb_stack_cookie_registers` routine. feel free to unassign if you won't be able to get to this.

[2020-08-14 19:23] williballenthin commented on #237
relevant function is 0x46D534 in `mimikatz.exe` / `5f66b82558ca92e54e77f216ef4c066c`

[2020-08-17 10:21] Ana06 commented on #170
I tried out the signing. It is not difficult and I think it should work in GitHub Actions as well. But I think we should get a Signing Identity and I am not sure how to do this. There is documentation about it here: https://developer.apple.com/library/archive/documentation/Security/Conceptual/CodeSigningGuide/Procedures/Procedures.html

[2020-08-17 16:06] #225 closed

[2020-08-18 01:08] mbhatt1 opened #240 "Can someone create a wheel for py3 please?"
The wheel available as flare-capa on pypi looks to only have install for Py2. Can someone create a py3 wheel on pypi please?

It's hard to import code without it.

Thanks

[2020-08-18 02:31] williballenthin commented on #240
please see https://github.com/fireeye/capa/issues/50

[2020-08-18 02:33] williballenthin commented on #50
based on offline discussions with @rakuy0, the vivisect devs are working towards py3 support. but, i'd expect this to be many months before its stable.

[2020-08-18 02:34] williballenthin commented on #50
in #234 we have an experimental backend that runs on py3. however, its a pretty new analysis engine, so we're not ready to merge and distribute it yet.

[2020-08-18 02:39] williballenthin commented on #50
we (including @Ana06) may attempt a [miasm](https://github.com/cea-sec/miasm) backend that would support py3. some things would be pretty straightforward (e.g. disassembling instructions) while other things would need a bit of research and code (e.g. finding functions). ETA for a POC is probably a few weeks to a few months. if it works, then further ETA for stabilizing this depends on performance

[2020-08-18 02:51] #240 closed

[2020-08-18 03:21] mbhatt1 commented on #50
How do the tests look currently for #234 ?

Are the preliminary results fairly ok for most runs?

[2020-08-18 03:56] williballenthin commented on #50
@mbhatt1 tests [look good](https://github.com/fireeye/capa/runs/995927237?check_suite_focus=true)
![image](https://user-images.githubusercontent.com/156560/90468610-219f5480-e0d4-11ea-8602-d77f1ec15345.png)

with this backend, you're more likely to run into errors during the code analysis passes, since the analyzer hasn't yet been hardened against thousands of binaries. this would look like unexpe

[2020-08-18 14:08] D4nch3n opened #241 "Python exception when trying to create a rule that involves counting strings"
### Description

When attempting to count the number of occurrences of a string in the file context, capa crashes with an exception when trying to create a new Feature() object.

### Steps to Reproduce

1. Create a capa rule with the following:
[code]

2. Run this rule against any PE fle using the -r option

**Expected behavior:**

Either display whether the file matched the given count rule, or d

[2020-08-18 14:11] Ana06 commented on #241
This also fails with `function` scope:

[code]

And it fails in current master as well.

So, it looks like a bug. Thanks for reporting @D4nch3n! 👍

[2020-08-18 14:27] D4nch3n opened #242 "Support Bytes feature in file scope"
### Summary

Add the ability to specify the bytes feature in the file scope

### Motivation

Malware authors and exploit developers frequently use shellcode in their malware, which would normally be missed in the function and basic block scope.  Therefore, being able to detect byte sequences corresponding to common shellcode instruction sequences would be quite useful.

### Describe alternatives y

[2020-08-18 15:30] williballenthin commented on #242
You've made a good argument for this feature.

We'd previously discussed some similar ideas, and the primary counter argument is to avoid competing with yara (which does a great job at matching binary content). On the other hand, I think we could experiment with this feature pretty easily.

First, would you propose a couple rules that make use of this feature? This way we can discuss the syntax on

[2020-08-18 15:32] williballenthin commented on #241
Looks like this is a bug in parsing the rule, rather than evaluating it.

[2020-08-18 15:46] williballenthin commented on #241
I think this is because [`StringFactory`](https://github.com/fireeye/capa/blob/master/capa/features/__init__.py#L164) has a required argument `description` but when it is invoked [here](https://github.com/fireeye/capa/blob/master/capa/rules.py#L346) the description is not provided - hence the TypeError.

I think we can fix this by making `StringFactory` description a kwarg with default value.

[2020-08-18 15:57] williballenthin commented on #241
@D4nch3n note: strings don't have surrounding quotes, so `"This program..."` doesn't do what you think

[2020-08-18 17:30] re-fox commented on #47
Non-pe work would be a welcome addition.

If it helps, I could begin to lay some initial rule groundwork by contributing some linux rules.  Maybe toss them into a testing repo on my own account (knowing they don't do anything initially) and as changes come in for capa, I can help test.

[2020-08-18 18:09] #241 closed

[2020-08-18 18:15] williballenthin commented on #47
@re-fox I think that would be quite useful.

We'll have to extend the rule syntax a bit, probably `rule.meta.os/arch/platform`, to help specify when to run a rule.

It would be a huge help to have a base set of rules and samples that we'd expect to match, and from which we can build Linux support. With this foundation, its much easier to implement the framework and supporting analysis.

[2020-08-18 19:42] re-fox commented on #47
I tossed up a repo here (https://github.com/re-fox/capa-rules-linux) with some basic rules to start.  I'll be slowly adding to these in the next couple weeks.

The format is largely mirroring the current capa-rules repository.

[2020-08-19 13:18] weslambert opened #244 "Control viv.json creation"
When running the Linux version of Capa (may apply to all versions), a `viv.json` file is copied to the running user's home directory (`$HOME/.viv/viv.json
`).  Is there a way to control where this file is copied, or to disable its creation on the host?

[2020-08-19 17:50] williballenthin commented on #244
huh, i never noticed this. looks like a configuration file used to tweak [vivisect](https://github.com/vivisect/vivisect)'s default behavior.

it doesn't look like vivisect provides a way to configure this behavior: https://github.com/vivisect/vivisect/blob/da818a84e68876e625dca07550457df029a2b4ad/vivisect/__init__.py#L78
while there might be a way to reach in an patch the workspace to avoid savin

[2020-08-20 07:14] mr-tz opened #245 "linter: warn on typos"
### Summary

The linter should warn on typos as experienced here:

https://github.com/fireeye/capa-rules/pull/101/files#diff-a1bc236469d436031c67020e71043bb8L40

[code]

[2020-08-21 09:26] Ana06 opened #246 "Imports require whole name for AW functions"
For API calls we support both `FindNextFileA` and `FindNextFile`, but for imports we only support `FindNextFileA`. I think this is confusing. Should we use the `generate_api_features` helper for imports as well?

[2020-08-26 21:18] williballenthin commented on #244
this is fixed upstream.

we have some outstanding work to do to use the official vivisect available on pypi, so i'll likely bundle together these fixes.

[2020-08-26 21:56] mike-hunhoff opened #249 "rule engine: adding description to number/offset with arch causes feature to be parsed with wrong type"
The following feature is not correctly parsed by `capa`:

[code]

`capa` emits a string instead of a number when parsing the above. This is due to a lack of handling of the arch flavors for number/offset features:

https://github.com/fireeye/capa/blob/8be1c84fd2e795658c22b28f719fb78786497beb/capa/rules.py#L265

Because a string is emitted instead of a number the feature cannot be matched.

[2020-08-26 23:18] #249 closed

[2020-08-27 08:12] mr-tz opened #252 "IDA backend: include api features of renamed calls"
### Summary

After renaming dynamic calls in IDA, the backend should emit the respective API calls.

Most often the dynamic calls will be to global addresses, but calls via registers or even local variables are also possible.

### Motivation

Malware often contains obfuscated API calls as shown below.

Before
![2020-08-27_10-06-25](https://user-images.githubusercontent.com/17606537/91414641-22ab51

[2020-08-27 16:31] williballenthin opened #254 "use vivisect that published via pypi"
vivisect has been updated and distributed via pypi. we should prefer to use this over our fork. update the deps spec, installation instructions, and re-run tests to demonstrate no regressions.

this will enable us to close #244 (viv.json creation) and #154 (push to pypi)

[2020-08-27 16:45] recvfrom opened #255 "git: Unable to initialize submodules over HTTPS"
### Description

Cloning the repo over HTTPS via the commands provided in the documentation fails to initialize the submodules when SSH isn't configured because the submodule URLs are hardcoded to use SSH.

### Steps to Reproduce

Run `git clone --recurse-submodules https://github.com/fireeye/capa.git` without an SSH key configured

**Expected behavior:**

submodules are checked out using the same

[2020-08-27 17:10] williballenthin commented on #255
hey @recvfrom thanks for the thorough bug report!

The fix looks reasonable to me. I think people that are dev'ing on capa core will have forks of the other two repos. Shouldn't affect people that implement new rules. So, looks like a fix we should merge. Thoughts @mr-tz  @mike-hunhoff ?

[2020-08-27 18:01] mr-tz commented on #255
looks good to me!

[2020-08-27 18:12] recvfrom opened #256 "python2.7: pkg_resources.ContextualVersionConflict: enum34 1.1.10"
### Description

Running `python2.7 -mpip install -e .` to install the capa source on Ubuntu 18.04 causes enum34 version 1.1.10 to be installed, but capa then fails to run and presents an exception noting that version enum34 version 1.1.6 is required.

### Steps to Reproduce

1. cd to a checkout of capa
1. Run `python2.7 -mpip install -e .`
1. Run `python2.7 ~/.local/bin/capa <exe path>`

**Expect

[2020-08-27 18:12] williballenthin commented on #255
@recvfrom want to propose a PR so that you can get on the GH contributors list? otherwise, i can commit these changes directly. always nice to get the recognition though ;-)

[2020-08-27 18:14] williballenthin commented on #256
looks like a good fix to me. pinning all of our deps is probably the safest thing to do. this change will help get us there.

i'll merge this change as a PR if you'd like to propose it.

[2020-08-27 18:39] #237 closed

[2020-08-27 18:42] mike-hunhoff commented on #255
agreed, looks good!

[2020-08-27 19:27] recvfrom commented on #255
PR submitted - thank you!

[2020-08-27 20:19] #256 closed

[2020-08-27 20:20] #255 closed

[2020-08-28 18:47] mike-hunhoff opened #262 "capa may report incorrect string reference for address matched by regex"
`capa` may report the wrong string reference for an address matched by a regex. May be related to #159.

For example, the string `http://practicalmalwareanalysis.com` reported in the following rule match is incorrect:

[code]

and should be ` HTTP/1.0\r\n\r\n` according to IDA:

![Capture98765](https://user-images.githubusercontent.com/42192796/91604523-07fbd980-e92c-11ea-85cf-6e648e65cf08.PNG)

S

[2020-08-28 20:05] williballenthin opened #263 "capafmt may incorrect reformat strings with descriptions"
originally reported in https://github.com/fireeye/capa-rules/pull/106 by @recvfrom

![image](https://user-images.githubusercontent.com/156560/91610996-83af5380-e937-11ea-9f36-ef82a24ee358.png)

[2020-08-31 13:42] williballenthin opened #265 "release v1.2.0"
0. [x] ensure tests pass and linter --thorough works
  1. [x] update [version.py](https://github.com/fireeye/capa/blob/master/capa/version.py)
  2. [x] review changes
    a.  [ ] capa https://github.com/fireeye/capa/compare/v1.1.0...v1.2.0
    b.  [ ] capa-rules https://github.com/fireeye/capa-rules/compare/v1.1.0...v1.2.0
  3. [x] update [CHANGELOG.txt](https://github.com/fireeye/capa/blob/master

[2020-08-31 14:33] williballenthin commented on #265
#266

[2020-08-31 15:40] mike-hunhoff opened #267 "explorer: detect program rebase"
The goal here would be to detect and handle a program rebase that happens after the plugin has performed its analysis. Following a rebase the plugin should update accordingly so the addresses for rule/feature matches are accurate (re-run capa analysis is probably most straightforward solution).

Quick solution may be hooking `RebaseProgram` IDA UI event (see `<ida_install>\cfg\idagui.cfg`).

[2020-08-31 15:45] mike-hunhoff opened #268 "explorer: cache rules directory selection"
Pending merge of https://github.com/fireeye/capa/tree/explorer_run_as_ida_plugin, cache rules directory selection to persist across runs.

[2020-08-31 16:06] williballenthin commented on #267
from an initial scan, i dont see an IDA callback for the "rebase program" event. but, might be able to use `ida_idp.IDB_Hooks.segm_start_changed`?

[2020-08-31 16:07] williballenthin commented on #267
oh, i see what you're suggesting: to use `idaapi.UI_Hooks` and register a `RebaseProgram` event handler

[2020-08-31 16:09] williballenthin commented on #268
@mr-tz  suggests using `idaapi.get_user_idadir()` to save a config file

i'd suggest looking at [ida-settings](https://github.com/williballenthin/ida-settings), too

[2020-08-31 16:41] williballenthin commented on #265
![image](https://user-images.githubusercontent.com/156560/91744270-759b4600-eb76-11ea-843f-0e9191e04af8.png)
builds are looking good

[2020-08-31 16:41] #265 closed

[2020-08-31 20:58] #154 closed

[2020-08-31 20:58] #254 closed

[2020-08-31 21:09] williballenthin opened #271 "use gitter.im for capa-related chat?"
we try to keep as much discussion as possible on github (issues) so that there's a public record of ideas. occasionally, there are discussions around capa development that might be better done via instant message. among the contributors from FEYE, we use our corporate instant messaging application to coordinate work. as we gather contributors outside of FEYE, then maybe we should consider somethin

[2020-08-31 21:10] williballenthin commented on #271
placeholder gitter room: https://gitter.im/flare-capa/community

[2020-08-31 21:21] williballenthin commented on #271
or maybe just use twitter or email or ... ?

[2020-08-31 21:22] williballenthin commented on #271
im not sure that the overhead of setting this up, documenting it, and keeping an eye on the conversations is worth it quite yet, but something to keep in mind.

[2020-08-31 21:30] williballenthin commented on #262
output from `show-features`:
![image](https://user-images.githubusercontent.com/156560/91770754-f4a47480-eb9e-11ea-9777-9ce4618a0a81.png)

[2020-08-31 21:32] williballenthin commented on #262
reproduced on master:
![image](https://user-images.githubusercontent.com/156560/91770809-1b62ab00-eb9f-11ea-8873-c2fce694b20f.png)

`python -m capa.main tests/data/Practical\ Malware\ Analysis\ Lab\ 16-01.exe_ -t "send HTTP request" -vv`

[2020-08-31 21:39] williballenthin commented on #262
added tests for the expected behavior and oddly enough they pass:
![image](https://user-images.githubusercontent.com/156560/91771394-2a962880-eba0-11ea-974e-ebb76f104a77.png)

wonder if maybe the results reporting has a bug.

[2020-08-31 21:56] williballenthin commented on #262
the source of the bug is found here: https://github.com/fireeye/capa/blob/d3dad3a66ade6e74fbd2d75cdb2df7099741eeaf/capa/features/__init__.py#L154-L155

when we find a matching string, we assign this on the singular `Regex` instance and wrap it into a `Result`. obviously, if the regex matches multiple times, then the previous matches get overwritten. that's not good.

[2020-08-31 22:35] williballenthin commented on #263
reproduced in a test case:
![image](https://user-images.githubusercontent.com/156560/91775297-f32b7a00-eba7-11ea-8f7e-791789cc668f.png)

[2020-08-31 23:23] williballenthin opened #275 "explorer: add icon to edit>plugins entry"
![image](https://user-images.githubusercontent.com/156560/91777999-8cf62580-ebae-11ea-8091-9f65481157d7.png)

`Quick run plugins` has an icon, but other plugins do not. capa would stand out more if we provided an icon.

[2020-09-01 13:42] edeca opened #276 "missing offset feature from vivisect backend"
### Description

I am trying to write a rule to detect QuickLZ decompression. I get different results when trying to detect in shellcode using both IDA and the commandline tool.

I'm not sure whether my rule is broken or the various backends handle shellcode differently.

### Steps to Reproduce

1. Load the reproductions below in IDA.
2. Run capa explorer from plugin with the rule.
3. No matches f

[2020-09-01 16:01] williballenthin commented on #276
Without access to the source samples (which I totally understand), then the best I can do is conjecture. I'll try to suggest a couple ways that we can nail down what's happening.

The first thing to recognize is that capa via CLI and capa via IDA rely on different analysis backends (vivisect and IDA Pro, respectively). We are at the whim of these analysis engines to identify functions, code, etc.

[2020-09-01 16:24] mr-tz commented on #271
I feel like GitHub works well for now. If demand for it increases a chat is a good idea though.

[2020-09-01 16:27] williballenthin commented on #276
In PM, we picked a QuickLZ dll from the website (64d9f7d96b99467f36e22fada623c3bb) and are using this to do rule development.

We should see a match in this basic block:

![image](https://user-images.githubusercontent.com/156560/91880797-c7f36a00-ec3d-11ea-8df9-e025e89f2aa5.png)

[2020-09-01 16:31] williballenthin commented on #276
Using `show-features` we get the following info extracted by capa:

[code]

[2020-09-01 16:50] williballenthin commented on #271
i think i agree completely. lets reopen this issue in the future if we want to reconsider.

[2020-09-01 16:50] #271 closed

[2020-09-01 16:50] #262 closed

[2020-09-01 16:50] #263 closed

[2020-09-01 17:36] #276 closed

[2020-09-01 17:42] williballenthin commented on #276
this issue should be fixed in master. i think we'll have to release v1.2.1 soon (today?) to address some bugs that we've found.

in the meantime, i'd encourage you to contribute the QuickLZ rule to [capa-rules](https://github.com/fireeye/capa-rules/)!

[2020-09-01 21:18] williballenthin commented on #275
looks like plugins are registered as actions like `Edit/Plugins/capa explorer` which means we can use [`ida_kernwin.update_action_icon()`](https://www.hex-rays.com/products/ida/support/idapython_docs/ida_kernwin-module.html#update_action_icon) to set an icon:

![image](https://user-images.githubusercontent.com/156560/91906977-43691180-ec66-11ea-9d64-f0d2928ff7fc.png)

[2020-09-01 21:19] williballenthin commented on #275
[`load_custom_icon`](https://www.hex-rays.com/products/ida/support/idapython_docs/ida_kernwin-module.html#load_custom_icon)

[2020-09-01 21:51] #246 closed

[2020-09-01 22:17] williballenthin commented on #275
![image](https://user-images.githubusercontent.com/156560/91911585-a2cb1f80-ec6e-11ea-900b-2e9c38cba939.png)

[2020-09-02 07:27] #268 closed

[2020-09-02 08:18] edeca opened #280 "Some constants will not be extracted by IDA backend"
### Description

This is an extension of the bug reported in #276, focusing on why detection within IDA was not consistent.

### Steps to Reproduce

1. Write a rule that uses a small constant, e.g. `0xC`.
2. Load shellcode without rebasing, e.g. start at address 0.
3. Run rule against IDB that contains the constant, e.g. `shr eax, 0xC`.

**Expected behavior:**

It should be safe to use most consta

[2020-09-02 08:45] edeca commented on #280
A colleague helped me find the right IDA Python function. Sample code:

[code]

[2020-09-02 08:52] mr-tz commented on #280
Right, I agree that should this be improved. Thanks for looking up those APIs.

In the meantime, rebasing the program should allow you to get those numbers extracted.

[2020-09-02 14:32] #275 closed

[2020-09-02 16:19] #267 closed

[2020-09-02 18:12] williballenthin opened #286 "discussion: ida plugin: simplify/remove some views"
when i run the IDA Pro plugin, there are three views:
![image](https://user-images.githubusercontent.com/156560/92020208-0a3baa80-ed15-11ea-9098-8a90265e7b72.png)

i almost always want the "Tree View" since it integrates so well with IDA. im not sure i've ever used the other views. therefore:

### 1. can we make the "Tree View" the default view?

furthermore, i think the information in the "Tree V

[2020-09-02 19:13] williballenthin commented on #286
see poc in #287

![image](https://user-images.githubusercontent.com/156560/92026362-242dbb00-ed1e-11ea-9782-d363020cdcd9.png)

[2020-09-02 20:05] mr-tz commented on #286
100% agree!

[2020-09-02 20:21] mike-hunhoff commented on #286
Yes, this is a great improvement! I'm always skipping right to the `Tree View` tab and I love the option to search namespace information.

[2020-09-02 20:36] #224 closed

[2020-09-02 20:43] williballenthin opened #288 "ida plugin: AttributeError: 'module' object has no attribute 'GetIdbPath'"
via @mike-hunhoff

IDA 7.4 - Python 2.7 (deprecated API?):
[code]

[2020-09-02 20:43] williballenthin opened #289 "ida plugin: TypeError: string argument without an encoding"
via @mike-hunhoff

IDA 7.5 - Python 3.7 (Python 3 compatibility issue?):

[code]

[2020-09-02 20:45] #212 closed

[2020-09-02 20:50] #286 closed

[2020-09-07 14:39] adamprescott91 opened #293 "pip installation and IDA plugin instructions fail to install properly"
### Description

Following the instructions on the installation and usage pages I used pip to install the prerequisite packages and then used the `pip install https://github.com/fireeye/capa/archive/master.zip` command to install capa. This succeeded and capa can then be imported in Python.
Then opening IDA and attempting to run `main.py` via run script errors with message
`OSError: rule path C:/U

[2020-09-07 16:51] williballenthin commented on #293
hey @adamprescott91 thanks for reporting these issues.

The second issue, when you try to invoke the IDA plugin, is a duplicate of #289 thanks to some changes we made on master late last week. I'm going to work on addressing this right now, and will update this ticket.

The first issue is reasonable, and seems to come for our documentation being unclear. Essentially, when you `pip install` capa di

[2020-09-07 17:31] #288 closed

[2020-09-07 17:31] #289 closed

[2020-09-07 17:32] williballenthin commented on #293
I've updated the ida-settings dependency so that it should now work on all platforms. At your convenience, would you try to update capa and confirm that the plugin works now?

[2020-09-08 08:51] adamprescott91 commented on #293
Thanks @williballenthin
I started from scratch with Method 3 and it all works smoothly now.
Having the Note in method 2 also clears up where I was misunderstanding the IDA installation as well.

[2020-09-08 08:51] #293 closed

[2020-09-08 18:28] #280 closed

[2020-09-08 21:25] williballenthin commented on #244
closed in 09da1d1af0032ef80c38e841f43362a764a57301 with the bump to viv 0.1.0

thanks @rakuy0!

[2020-09-08 21:25] #244 closed

[2020-09-09 08:28] mr-tz opened #297 "`ida_settings` not compatible with Python 2.7"
### Description
Error in dependent library, but tracking here for awareness.

[code]

Fix with:
[code]
via https://stackoverflow.com/questions/35673474/using-abc-abcmeta-in-a-way-it-is-compatible-both-with-python-2-7-and-python-3-5

### Steps to Reproduce

Setup IDA plugin and open IDA that uses Python 2.7.

**Actual behavior:**

Error when loading `ida-settings`

### Versions

IDA with Python 2.7

[2020-09-09 08:37] mr-tz commented on #297
Another issue when changing the rules path:
[code]

[2020-09-09 10:12] adamprescott91 opened #298 "Fail to load rules with IDA plugin after uninstalling and reinstalling capa"
### Description

Installing capa using Method 3 and then using the IDA plugin the first time works correctly.
I then uninstalled the capa module and reinstalled it in a different directory using the same method.
Subsequently every time the plugin is run in IDA it displays the error message

`Failed to load rules from C:/prev/dir. Please refer to IDA Output window for more information`

I believe t

[2020-09-09 10:48] mr-tz opened #299 "IDA plugin search filter not working"
### Description

Filter gives no results, including searches for rule name or namespace.

![2020-09-09_12-40-29](https://user-images.githubusercontent.com/17606537/92589049-43869400-f29a-11ea-8614-d6f4df560f2c.png)

![2020-09-09_12-40-22](https://user-images.githubusercontent.com/17606537/92589059-45e8ee00-f29a-11ea-81cd-8d2515bf9595.png)

### Versions

IDA Version 7.5.200728 Windows x64

[code]

[2020-09-09 14:29] williballenthin commented on #298
good suggestion, i like this

[2020-09-09 14:29] williballenthin commented on #298
@mike-hunhoff assigning to you since i'll be out soon.

[2020-09-09 15:26] mike-hunhoff commented on #298
Thank you for pointing this out! For now, you can change the rules directory from the plugin menu `Rules > Change rules directory...`.

![change_rule_dir](https://user-images.githubusercontent.com/42192796/92619233-7d49a180-f27e-11ea-8dd1-ca6592f03d88.PNG)

[2020-09-09 16:11] williballenthin commented on #297
@mr-tz  @mike-hunhoff i've added you both as collaborators to ida-settings.

[2020-09-09 16:12] williballenthin commented on #297
i *think* i've fixed the metaclass thing here: https://github.com/williballenthin/ida-settings/commit/4d569acd1c1fd69f9013947d22c856da801ae804

but i can't be sure on 2.7 since i don't have idapython 2.7 installed.

[2020-09-09 16:15] williballenthin opened #300 "ida plugin: add progress bar for analysis"
consider showing a progress bar as capa analyzes the open database.

simple way: use `tqdm` to display the progress, like we do for the loading of rules.

pretty way: use qt to show a progress bar via the ui. just to flex.

[2020-09-09 16:22] williballenthin commented on #297
@mr-tz i dont see a line 571 in `ida/plugin/form.py`:

![image](https://user-images.githubusercontent.com/156560/92625607-1cbe6280-f286-11ea-8ef3-2dc0a74be423.png)

in any case, i think i see what's happened:

under py2.7
![image](https://user-images.githubusercontent.com/156560/92625744-4c6d6a80-f286-11ea-8ec2-2cafaa1332aa.png)

i didn't realize this was thing. fixing now.

[2020-09-09 16:34] williballenthin commented on #297
in theory this should be fixed in https://github.com/fireeye/capa/commit/8cd90e5c2d49ad11aba52b643bb8b33912e4b073 by bumping ida-settings to v2.1.0

when you have a moment, can someone verify on 2.7?

[2020-09-09 16:40] williballenthin commented on #299
hm, i can't reproduce this :-(

[2020-09-09 16:41] williballenthin commented on #299
for a moment i could, but now i can't. wonder if its because i pulled from master since then?

[2020-09-09 16:45] mike-hunhoff commented on #297
Looks like the version bump is working for me!

[code]
![Screen Shot 2020-09-09 at 10 44 55 AM](https://user-images.githubusercontent.com/42192796/92628117-8ee47680-f289-11ea-98ee-e2f24477769c.png)

[2020-09-09 16:48] mike-hunhoff commented on #297
And looks like Python 3 is also happy.

[code]

[2020-09-09 16:58] #297 closed

[2020-09-09 16:58] #298 closed

[2020-09-09 17:06] mike-hunhoff commented on #299
I reproduced in:

[code]

The search proxy fails because of the following line:
https://github.com/fireeye/capa/blob/146caed7aad1d1580b53eb4d128bfaea770f5cc6/capa/ida/plugin/proxy.py#L211

Because the data types are `unicode` not `str`:

[code]

[2020-09-09 17:24] mike-hunhoff commented on #299
addressed in #302

[2020-09-09 17:35] #299 closed

[2020-09-10 15:43] mike-hunhoff commented on #300
I made some "progress" 😉 here but unfortunately due to the single-threaded nature of IDA Pro I don't think a complete solution is possible without making the plugin multi-threaded. While this is an option it's probably not feasible for the `1.3.0` release.

Sample run from WIP branch https://github.com/fireeye/capa/tree/explorer_progress_bar:

![progress](https://user-images.githubusercontent.com/

[2020-09-11 15:49] williballenthin opened #306 "loading rules takes a while"
loading the ruleset of 300+ rules from their yaml files takes around 5s on my laptop. it's minorly annoying when I'm doing analysis, and also prevents me from running capa iteratively against a large corpus of samples.

we should profile the rule loading logic and see if we can make this much faster. running capa probably involves reading and parsing 300+ python files, but this happens within a fe

[2020-09-11 15:52] williballenthin opened #307 "add example script running capa against a directory"
while we don't position capa as a detection tool that is appropriate to scan an HDD to find malware, it's likely that malware analysts may want to collect capa results against a large set of samples. we should develop an example script that shows how to use capa as a library to invoke it against a directory and collect the results.

I have no idea how the results should be formatted, so this is pr

[2020-09-11 18:45] williballenthin commented on #306
looks like yaml parsing is known to be slow:

https://stackoverflow.com/questions/27743711/can-i-speedup-yaml

definitely looks like we want to use the CLoader when possible. probably want to avoid using the ruamel parser except when doing linting/formatting. hopefully we can embed the shared object in the pyinstaller distribution.

[2020-09-11 20:43] stevemk14ebr opened #309 "Capa explorer rule folder selection"
When using the plugin for the first time it asks to select a folder when you press analyze. It's not obvious this is supposed to be the rule folder and if the wrong folder is selected an error about rules not being loaded will be shown. Worse more the reset button will not work and future attempts to select analyze will not re-prompt the folder selection. This is not user friendly.

[2020-09-11 20:51] stevemk14ebr commented on #309
In load_capa_results the try_catch needs to be a do_while loop where the settings are reset if a new path that works is provided.

[2020-09-11 21:14] mike-hunhoff commented on #309
Thank you for reporting this @stevemk14ebr, we will get this fixed. For now, you can select a new rules directory by navigating to `Rules > Change rules directory...` in the plugin.

[2020-09-11 23:14] #309 closed

[2020-09-12 02:45] williballenthin commented on #306
https://github.com/benfred/py-spy

[2020-09-12 02:48] williballenthin commented on #306
![image](https://user-images.githubusercontent.com/156560/92985485-24415f80-f470-11ea-8e5a-e68b8e71e874.png)
7 seconds just to load the rules!

[2020-09-12 02:50] williballenthin commented on #306
flamegraph generated using https://github.com/benfred/py-spy

[profile.zip](https://github.com/fireeye/capa/files/5212088/profile.zip)

[2020-09-12 03:05] williballenthin commented on #306
[code]

[2020-09-12 03:11] williballenthin commented on #306
PyYAML CLoader doesn't like our description syntax:

![image](https://user-images.githubusercontent.com/156560/92985801-4b4d6080-f473-11ea-9eb5-e1a56499635b.png)
![image](https://user-images.githubusercontent.com/156560/92985808-56a08c00-f473-11ea-97ca-d8d58467e648.png)

[2020-09-12 03:14] williballenthin commented on #306
wow, if i strip the descriptions out, then PyYAML.CLoader loads the rules in around 0.3 seconds:

![image](https://user-images.githubusercontent.com/156560/92985855-bf880400-f473-11ea-84e6-9f1d7c77b6df.png)

[2020-09-12 03:29] williballenthin opened #312 "is our block description syntax valid yaml?"
currently, we allow rule authors to add a description to and/or/etc. like so:

[code]

(concrete example [here](https://github.com/fireeye/capa-rules/blob/433b32c1b003efe78ee38d8e7c8b795fa1fe2c76/data-manipulation/encryption/rc4/encrypt-data-using-rc4-ksa.yml#L26))

this seemed like a natural way to extend our two-line syntax for feature descriptions, which look like:

[code]

however, i'm not sur

[2020-09-12 03:32] williballenthin commented on #312
one way to make this work while only slightly tweaking the syntax is to make `description` an element in the list, like:

[code]

[2020-09-12 03:36] williballenthin commented on #306
need to figure out #312 before we continue here.

should prefer to use PyYAML.CLoader when possible. hopefully we can embed this within pyinstaller binaries.

[2020-09-12 04:13] williballenthin commented on #312
downside: fixing up this syntax is technically a breaking change, affecting the last minor version or so. the alternative is to suffer having rules that are maybe not valid yaml (something I think is fairly important).

personally, I probably prefer to keep things as we intended and make the change (violating semver and assuming no one will notice).

[2020-09-12 04:15] williballenthin commented on #312
upside: the description can now be placed at the top of a block, like:

[code]

I think all our rules with the conflicting syntax have the description as the last element, which I personally find hard to follow, all because this is all that ruamel accepted.

[2020-09-12 04:17] williballenthin commented on #312
maybe for v1.3.0 we should comment out these description lines as they currently exist so we can fully discuss the changes here while minimizing the time the invalid syntax exists.

[2020-09-12 04:20] williballenthin commented on #312
tagging @re-fox since I know they have used this syntax to make rules easier to read

[2020-09-12 17:15] williballenthin opened #313 "linter should enforce rule formatting"
the linter should check the formatting of each rule and emit a warning when the style is incorrect.

I'm surprised it doesn't already but I ran into some rules yesterday that weren't formatted correctly, despite our linter being run regularly.

[2020-09-14 09:14] mr-tz commented on #312
Yeah, let's fix this. Commenting out is a good start!

[2020-09-14 10:44] mr-tz commented on #300
Here's another POC using IDA's waitbox feature. We may be able to implement this faster, but I only had time to come up with this POC: https://github.com/fireeye/capa/compare/ida/explorer-waitbox

![2020-09-14_12-40-04](https://user-images.githubusercontent.com/17606537/93076543-cc7d4100-f687-11ea-86da-393a1d001385.png)

See `python/examples/widgets/waitbox/show_and_hide_waitbox.py` in your IDADIR

[2020-09-14 14:00] re-fox commented on #312
I agree!  That sounds like a good plan.

I remember at the time, modifying the rule several times before I found a working variation.  I think that's how I ended up on.

[code]

In my opinion it's better to have commented descriptions than none at all.  Those can always be uncommented and fixed up later.

[2020-09-14 20:35] mike-hunhoff commented on #300
Thanks to @mr-tz's suggestion we have a working progress indicator in #314 👍

[2020-09-15 14:47] mike-hunhoff commented on #300
closed by #314

[2020-09-15 14:47] #300 closed

[2020-09-15 15:23] stevemk14ebr opened #315 "Right click tree-view index exception"
Right clicking in the capa-explorer in the grey area throws an invalid index exception as no UI element is selected:

[code]

This pollutes the output window.

[2020-09-16 14:29] mike-hunhoff commented on #315
Thank you for reporting @stevemk14ebr! This is addressed in #316.

[2020-09-16 14:41] #315 closed

[2020-09-16 20:20] mike-hunhoff opened #317 "explorer: cache rule set"
Update explorer to cache a rule set for multiple runs - allow user to manually reload a rule set from their capa rules directory via plugin UI e.g. `Rules > Reload rule set`.

[2020-09-16 20:23] mike-hunhoff opened #318 "explorer: cache extracted features"
Update explorer to cache extracted features for multiple runs. This is especially useful when making multiple successive runs while testing a new rule.

[2020-09-16 20:47] mike-hunhoff opened #319 "explorer: add highlighting to decompile view"
Update explorer to add highlighting to decompiler view in addition to disassembly view

[2020-09-17 08:22] mr-tz opened #320 "missing number features due to compiler using LEA to load constants"
### Summary

Compilers may setup API call constants via offsets instead of numbers (see examples below). I've seen this especially in 64-bit code using the `LEA` instruction.

It's not ideal to manually account for things like this in rules as seen in https://github.com/fireeye/capa-rules/pull/122.

With some more research we can also come up with better ways to recognize such cases and only repor

[2020-09-17 15:55] re-fox commented on #320
I encountered this when I was working on Luhn variations.  https://github.com/fireeye/capa-rules/pull/52/files

We ended up merging the rule with 2 conditions, 1 account for the `LEA` and the other accounting for the regular numeric operation.

[code]

I think you have an interesting question, but I'm not sure what the best answer is.

This is just to contribute more data to the issue so it can he

[2020-09-18 15:59] williballenthin commented on #320
given the following pattern:

[code]

we can only feasibly extract the number constant `6` when `ebx` is zero. if we wanted to handle more cases, then we're sliding towards doing more general symbolic analysis (working backwards to figure out what range of values `ebx` could be). i think this is beyond scope for capa core, but could perhaps be done in analysis backends (maybe we should look into u

[2020-09-18 16:38] williballenthin opened #322 "add com class/interface features"
in https://github.com/fboldewin/COM-Code-Helper/pull/2 @stevemk14ebr adds definitions for around 3k COM class GUIDs and 23k COM interface GUIDs. this is probably one of the most comprehensive databases of COM constants out there. we should consider incorporating it into capa, possibly as a new type of feature, like:

[code]

[2020-09-19 21:50] williballenthin commented on #242
closing because the discussion has stagnated. please re-open to continue discussion.

[2020-09-19 21:50] #242 closed

[2020-09-23 16:01] #306 closed

[2020-09-23 19:16] mike-hunhoff opened #325 "capa reports mismatched count for loaded rules"
![capa](https://user-images.githubusercontent.com/42192796/94058905-e95bf780-fd9e-11ea-9312-b8210d1cbdf3.PNG)

[2020-09-23 20:45] williballenthin commented on #325
oh, nice catch!

i believe this comes from the fact that we convert subscope statements into their own rules that subsequently get `match`ed against - inflating the total rule count.

[2020-09-23 20:45] #307 closed

[2020-09-23 22:07] #325 closed

[2020-09-25 17:50] #312 closed

[2020-09-26 11:14] ihacku opened #328 "error when target file contains Chinese characters"
[code]

capa version : capa-v1.3.0-macos

After remove Chinese characters, it works as usual.

[2020-09-28 04:29] williballenthin commented on #328
1. can you share the sample file?

2. can you share where these characters are found?

[2020-09-28 07:30] ihacku commented on #328
1. Sorry I can't share the sample file, but maybe you can download form vt.
https://www.virustotal.com/gui/file/c759a6280b62395d22edd40eecd32202ffce6e32de1c5c9596a184c0641bb570/detection
2. Just some random Chinese characters, it doesn't have to be specific character.

[2020-09-28 07:36] ihacku commented on #328
Sorry I just realized that I didn't write the issue detailed enough, it's the file name that contains Chinese characters lead to the error.

[2020-09-28 12:59] mr-tz commented on #163
- [ ] option to display failed branches; show failing branches (highlighted accordingly) so rule developers can see what features exist/are missing in a function/sample.

[2020-09-28 14:31] mike-hunhoff opened #329 "capa fails when extracting API w/ name containing multiple periods"
e.g. `my.function.do_work`

[2020-09-28 15:01] #329 closed

[2020-09-28 15:11] williballenthin commented on #328
thanks! that should be enough to enable us to reproduce the issue

[2020-09-30 20:14] williballenthin opened #331 "develop script to highlight the features that are not used during matching"
to bring light to capabilities for which we do not yet have rules, we should develop a script that highlights the features that have been extracted by capa and yet not used by any rule. these entries might be sorted (and maybe reversed) based on their frequency. for example:

[code]

a rule author could review these features an decide "hey, we need to cover event log clearing!" and use this output

[2020-10-05 16:13] mike-hunhoff opened #334 "explorer: auto analyze new functions"
detect when user creates a new function and automatically re-run capa analysis to include rules matched on features extracted from the new function.

depends on #318.

[2020-10-05 16:24] mike-hunhoff opened #335 "ida backend: only identifies first embedded PE file"
if multiple embedded PE files exist in sample, IDA backend only locates the first.

[2020-10-05 17:02] #335 closed

[2020-10-05 18:16] re-fox opened #337 "FR: Indirect jmps as calls"
### Summary
In a sample within the testfiles repo `b87e9dd18a5533a09d3e48a7a1efbcf6` at offset `0x140007461` a `jmp` is issued rather than a `call`.  Causing the API not to be recognized by the feature extractor.

The function in Ghidra:

![image](https://user-images.githubusercontent.com/57954766/95115977-557e1a00-0714-11eb-8743-4df631e3f8be.png)

The small snippet of features extracted from that

[2020-10-05 19:45] mr-tz commented on #337
Agreed, we should be able to extract the `api` feature in such cases.

As a heads up this is part of the `__raise_securityfailure` library function in the above example.

[2020-10-14 08:10] r0ny123 opened #339 "error: capa failed to load some rules"
### Description
Capa fails to load some rules, which have "**description**" (introduced in  https://github.com/fireeye/capa-rules/pull/137) as a statement and reports those as invalid rules.

**Expected behavior:**
Capa should load the rules correctly.

**Actual behavior:**
Capa throws an error like the following
[code]
#### Versions
capa 1.3.0

[2020-10-14 09:25] mr-tz commented on #339
Thanks for reporting! Are you using the stand-alone version?
We need to cut a new release of it, soon.

[2020-10-14 09:33] r0ny123 commented on #339
I checked both stand-alone and capa as python library.

[2020-10-14 09:49] mr-tz commented on #339
Right, stand-alone and the pip package result in that error.
As a workaround you can run capa from source, see https://github.com/fireeye/capa/blob/master/doc/installation.md#method-3-inspecting-the-capa-source-code or comment out the `- description` lines.
Sorry for the inconvenience!

[2020-10-14 09:58] r0ny123 commented on #339
no problem :) and yeah I was going to that, thanks!

[2020-10-15 19:11] williballenthin commented on #339
sounds like we'd better get 1.4 out!

[2020-10-16 16:15] mike-hunhoff opened #341 "viv/extractor: extract API calls from chained thunks"
add support to extract API calls from chained thunks, like #340.

example: `82BF6347ACF15E5D883715DC289D8A2B:0x14005E0FF`

[2020-10-21 09:37] #341 closed

[2020-10-21 10:52] mr-tz commented on #245
The new `description` handling appears to catch this.

[code]

[2020-10-21 10:52] #245 closed

[2020-10-21 15:42] williballenthin opened #348 "or: optional: ... always matches, is this expected?"
In https://github.com/fireeye/capa-rules/blob/master/host-interaction/console/manipulate-console.yml we have the following logic:

![image](https://user-images.githubusercontent.com/156560/96743624-7041c700-1381-11eb-8518-5206e948ec59.png)

but this appears to match every function, probably because the `optional: ...` always evaluates to true, even if the other elements are not present.

couple op

[2020-10-21 16:00] mr-tz commented on #348
I vaguely remember something similar a while back. Option 2 or 3 sound good so we don't burden the user to know of this.

[2020-10-23 11:15] #337 closed

[2020-10-23 11:15] #328 closed

[2020-10-23 20:32] mr-tz commented on #339
fixed in newest release, https://github.com/fireeye/capa/releases/tag/v1.4.0

[2020-10-23 20:32] #339 closed

[2020-10-26 16:24] williballenthin opened #352 "augment the json output to include a unique id for each rule content"
this enables external systems to track specific rules and their versions.

probably derive the id from the content of the rule, perhaps via md5(content) or uuid3(content).

[2020-10-26 16:26] williballenthin commented on #352
https://docs.python.org/3/library/uuid.html#uuid.uuid3

[2020-10-26 16:27] re-fox opened #353 "Small bug in string extraction"
### Description
Small bug in string extraction causing last character to be missed (example is utf-16).

### Steps to Reproduce
1. Open `773290480d5445f11d3dc1b800728966.exe_` (currently in PR in `capa-testfiles`)
2. `scripts/show-features.py 773290480d5445f11d3dc1b800728966.exe_ -F 0x140001140 `
3. Search for the string `%s:\\OfficePackagesForWDA`

**Expected behavior:**
Full string is `%s:\\Offi

[2020-10-26 16:44] williballenthin commented on #352
this is no longer needed in the external context, but might still be useful for other users.

[2020-10-27 16:13] williballenthin opened #354 ".getfilesystemencoding() on argparse doesn't work on py3"
[code]

[2020-10-29 16:16] williballenthin commented on #50
see also #355 that uses SMDA for py3

[2020-10-30 16:31] williballenthin opened #356 "explain `insn/api: x64 nested thunk` test case"
[here](https://github.com/fireeye/capa/blob/0e009c7c1251fe69a95cfbf6da1199378c88d733/tests/fixtures.py#L380) is a unit test that we use to assert that our analysis backends consistently handle chains of thunks:

[code]

here's how we currently understand "thunks" within capa:

turning our attention to the test, here's what we see:

### 0x140059342

![image](https://user-images.githubusercontent.co

[2020-10-30 16:36] williballenthin commented on #356
@mike-hunhoff any additional insight here?

[2020-10-30 18:54] mike-hunhoff commented on #356
Thank you for bringing up this question @danielplohmann.

@williballenthin you discussed this quite thoroughly already so not much more to add. Here, as you mentioned, the result is the same in terms of generated features, regardless of how viv and IDA define the function boundary, but these differences happen to result in a failed unit test. One option would be to simply compensate for difference

[2020-10-31 15:53] jg777 opened #357 "Missing binary compilation instructions"
### Description

Missing binary compilation instructions for capa. Looking for "Method 3: Compiling on the command line without pip" in the Installation.md

### Steps to Reproduce

1. Open doc/installation.md
2. It does not contain binary build instructions without using pip at all.

**Expected behavior:**

Since the project is able to provide binary builds, then I would expect some build document

[2020-10-31 16:01] williballenthin commented on #357
take a peek at the CI configuration in the .github directory. basically, it boils down to invoking PyInstaller with the config also found in the .github directory.

[2020-10-31 18:55] danielplohmann commented on #356
Hi all,

as a possible solution, I would propose to find an equivalent code example for the functionality that the test intends to cover, i.e. a x64 nested thunk. I quickly scouted all of your test files for such cases and located some in the following binaries.
 * `82BF6347ACF15E5D883715DC289D8A2B.exe_` - 10 cases, all with same characteristics (tailcalls) as described by @williballenthin above.

[2020-11-01 03:23] jg777 commented on #357
I run `sudo pyinstaller setup.py` in the root directory. It then appears to "build". When I look through the results I can't find the capa binary. I'm sure I'm missing something here.

[2020-11-01 04:39] williballenthin commented on #357
you shouldn't need to use sudo.

pyinstaller should be invoked against the spec file, not setup.py.

the resulting binary ends up in build/ or dist/ (I don't recall off the top of my head)

[2020-11-03 13:23] mr-tz commented on #356
I'm in favor of changing the test case. The confusion really comes from the different function interpretation between the disassemblers and that's not what we're interested in testing here.

[2020-11-03 13:46] mr-tz commented on #357
Were you able to get it running? The command is: `pyinstaller .github/pyinstaller/pyinstaller.spec` and the compiled binary will be located in `dist/`.

[2020-11-05 16:19] #357 closed

[2020-11-05 22:06] williballenthin commented on #184
https://blog.yossarian.net/2020/11/05/Towards-an-automated-changelog-workflow

[2020-11-08 10:27] mr-tz opened #359 "Offset feature to account for read/write access of operand"
### Summary

Include if an offset is read from or written to. Add additional modifier to feature such as:
- `- offset/r` or `- offset/w`

Could become confusing with the already existing `x32`/`x64` modifiers. If you can think of a better syntax, please comment below.

### Motivation

Allow for more concrete rules and avoid false positives. For example, observed frequently with `parse PE header` r

[2020-11-09 20:02] williballenthin opened #361 "disable python3.9 on CI until LIEF updates"
https://github.com/fireeye/capa/pull/355#issuecomment-724087915

[2020-11-09 20:03] williballenthin opened #362 "enable python3.9 on CI when LIEF updates"
https://github.com/fireeye/capa/pull/355#issuecomment-724087915

[2020-11-09 20:14] #361 closed

[2020-11-10 19:27] mike-hunhoff commented on #353
Thank you for finding this @re-fox!

I confirmed this bug is limited to the viv extractor and addressed the issue in #364.

[2020-11-10 19:54] #354 closed

[2020-11-11 00:56] #353 closed

[2020-11-12 02:45] x64bugreport opened #365 "PIP repository version is still 1.40 and needs to be updated."
PIP repository version is still 1.40 and needs to be updated.

[2020-11-12 06:51] williballenthin commented on #365
v1.4.0 is the latest python package release. while we have v1.4.1 released on gh, the only changes there have to do with standalone packaging. the next release to pypi should be v1.5.0. you're not missing anything by using v1.4.0.

[2020-11-12 06:51] #365 closed

[2020-11-23 17:09] #356 closed

[2020-11-23 17:13] mr-tz opened #366 "Feature: call $+5"
### Summary

Add (one-off) feature to match on `call    $+5`; often used in shellcode or for obfuscation.

### Motivation

Help to detect shellcode and anti-disassembly techniques.

[2020-11-23 20:23] williballenthin opened #367 "analyze native code portion of .NET mixed-mode assemblies"
such as those with COMIMAGE_FLAGS_NATIVE_ENTRYPOINT  set

[2020-11-25 00:28] jcrussell opened #368 "JSON mode has spurious prints in Python 3"
### Description

When running CAPA in JSON mode (`-j`) on a file and redirecting the output to a file, the output contains spurious lines that make the output not valid JSON.

### Steps to Reproduce

1. `capa -j <file> > out.json`
2. `python -m json.tool out.json`

**Expected behavior:**

Pretty printed JSON.

**Actual behavior:**

Invalid JSON. The first three lines are:

[code]

I think these ar

[2020-11-25 16:15] jcrussell commented on #368
Adding `lief.logging.disable()` after `import lief` in `capa/features/extractors/smda/file.py` appears to fix it. I'm not finding a way to specify where lief logs.

[2020-11-25 16:39] jcrussell commented on #368
But `lief.logging` is only available through the nightly builds.

[2020-11-26 23:41] reb311ion commented on #49
Done. but in python in a clean and simpler form.

https://github.com/reb311ion/CapaExplorer

![image](https://user-images.githubusercontent.com/22657154/100378347-9b23d880-301b-11eb-9faf-b933afc930ac.png)

[2020-11-28 22:44] williballenthin commented on #368
ah yeah i think you're right about LIEF

looks like its configured to use STDOUT for logging messages:
https://github.com/lief-project/LIEF/blob/1364f22c78475caaa2d6b7cbe01f74e87cf44c34/src/logging.cpp#L37

[2020-11-28 22:46] williballenthin commented on #368
im used to logging messages being printed to STDERR, but maybe thats a personal preference. do you think this is something we should report upstream?

[2020-11-30 08:40] mr-tz commented on #49
Wow, this looks really cool, @reb311ion!

[2020-11-30 19:49] jcrussell commented on #368
Yeah, it seems like something to report upstream. Disabling logging works for now.

[2020-11-30 20:15] mr-tz opened #369 "SMDA backend not passing tests after update"
### Description

v1.5.5 works fine, see https://github.com/fireeye/capa/runs/1443609568
current version v1.5.8 fails, see https://github.com/fireeye/capa/runs/1475995708
[code]

Should we add version pinning similar to vivisect?

[2020-11-30 22:02] williballenthin commented on #369
yeah, i think we should pin. we should also report regressions upstream.

we may be able to setup dependabot or similar to remind us to attempt to update our deps.

[2020-12-01 10:04] mr-tz commented on #369
it's already fixed upstream and #370 addresses the version pinning

[2020-12-01 10:11] mr-tz opened #371 "Setup dependabot"
we may be able to setup dependabot or similar to remind us to attempt to update our deps.

_Originally posted by @williballenthin in https://github.com/fireeye/capa/issues/369#issuecomment-736083054_

[2020-12-01 10:11] #369 closed

[2020-12-01 15:07] mr-tz commented on #74
Some form of library detection in the backend often times provides results that are much easier to process.

In the example (43c486...) below 20 capabilities are recognized in functions that IDA marks as library code.

## vivisect (no library detection)
[code]

## IDA Pro (ignores FLIRT identified functions)
![2020-12-01_16-03-47](https://user-images.githubusercontent.com/17606537/100757781-0f30f8

[2020-12-01 16:12] re-fox commented on #74
There are certainly pros and cons for function ID.  Looking forward to a future where Capa has multiple backends, I'd have to guess that each disassembly library has varying levels of function ID.  Something like pure capstone has absolutely no idea, whereas IDA has a huge backing library of FLIRT.  Capa, however, is equipped to carry the weight of function ID, where the disassembler may be ignora

[2020-12-02 15:11] mr-tz opened #376 "Feature: guid from various encodings"
thoughts on a `guid: {....}` feature that expands into various ways of encoding it?

pro: makes it easier for rule authors
pro: could hook into an encyclopedia of GUIDs to enable use of symbolic names, too
con: single feature would expand into multiple features to support this, which could be complex to implement/display (think about single string reference vs bunch of immediate constants).

_Orig

[2020-12-03 11:21] mr-tz opened #377 "Render mode showing capas per function"
### Motivation

This can help to better understand what happens in individual functions. Do this for all capas and/or for "complex" functions with various hits. Example output:
[code]

Example for PMA Lab 4:

[code]

For extra bonus could also display referenced strings in these functions.

[2020-12-03 17:40] mr-tz commented on #377
See https://github.com/fireeye/capa/blob/master/scripts/show-capabilities-by-function.py
[code]

Is it worth rolling this into main so it's available from the standalone version?

[2020-12-03 18:46] williballenthin commented on #377
my only concern is the potential explosion of cli arguments (that few people will ever study) for all the possible ways of rendering data. by keeping the script separate, we can encourage people to build their own integrations and views into capa data.

[2020-12-04 08:40] mr-tz commented on #377
Right, this may be better suited for `capa explorer` and other interactive JSON display modes.

[2020-12-07 17:03] #371 closed

[2020-12-16 15:35] re-fox opened #385 "Exception: Read gave wrong length"
### Description

This could be a viv bug.

[code]

### Steps to Reproduce

1. `python2 scripts/show-features.py -F 0x140001020 40c0a313897b26e14e54683ceace4a161859f368b0114a2ca614deca3b2ca5da`
The following error is produced
[code]

**Expected behavior:**
Executable to be processed

**Actual behavior:**
Exception is raised

### Versions
Master from git

### Additional Information
Sample is attache

[2020-12-19 04:56] steven-hh-ding opened #386 "recursive call characteristic - including indirect call or not?"
### Description

Thanks for the great work! We are making a feature extractor on our open-source unified json interface for several backend disassemblers including Ghidra. There are now only two test cases failing. One of them is `recursive call`:

[code]

Our question is, for Characteristic("recursive call"), does it mean directly or in-directly should be okay?

Ghidra actually reports a recursiv

[2020-12-19 12:33] mr-tz commented on #386
That sounds very exciting!

The `recursive call` feature covers direct calls from within a function to itself.
In this case it looks like a recursive *data* reference, see IDA disassembly below.

[code]

Is it feasible for you to distinguish between code and data references?

[2020-12-19 17:16] steven-hh-ding commented on #386
Yah we saw that! In Ghidra they just count this as function call (since sub_407FAB called the pushed address) .. Let me check what can we do. If this is the case, also the `calls to` characteristic does not apply to `sub_4556E5` here as well, right? (sub_407FAB called sub_4556E5 through static data reference).

[2020-12-19 18:41] mr-tz commented on #386
Ouh, that's a cool analysis feature. For consistency I'd lean towards not counting such "indirect" recursions. However, if the backend provides it, we should leverage that.

My cheap solution would be to modify the test case to a function with no ambiguity. Unless Willi picked this function on purpose for this case?! 😄

Same thing for the `calls to` feature. Let's see what @williballenthin thinks.

[2020-12-21 08:58] steven-hh-ding commented on #386
Yah the analysis done by Ghidra is pretty cool. Not just this. It already did the nested data ref part so we don't need to loop.

So far this is the only issues we had. We just found a way to differentiate, but just were wondering if it is necessary.

[code]

Additionally, Ghidra doesn't work very well to find the right function start.. It can't find `0x1800202B0`..

In order to fix the disagreeme

[2020-12-21 09:17] steven-hh-ding opened #387 "IDA helper - detecting unicode strings api"
Hello!

https://github.com/fireeye/capa/blob/5323f2fc312dd0d3ce654b18a875a1da6516176c/capa/features/extractors/ida/helpers.py#L176-L190

I found that maybe the API below is a bit more convenient, per their docs suggested.

[code]
Would we be missing anything. Thanks!

[2020-12-21 16:07] mr-tz commented on #387
That looks neat, thanks! We will check this out with @mike-hunhoff

[2020-12-21 16:13] mr-tz commented on #386
For different function boundary recognition we've tried to find functions in the past where all backends agree. However, since this can get very cumbersome I've added a fixup for a vivisect test case before.

https://github.com/fireeye/capa/blob/5323f2fc312dd0d3ce654b18a875a1da6516176c/tests/fixtures.py#L86-L92

Can you adopt something like this?

[2020-12-21 16:15] mr-tz commented on #386
Regarding the Ghidra test cases, I'd be ok with you suggesting different functions with no ambiguity.

[2020-12-23 12:47] mr-tz commented on #368
Does this issue still persist after the upstream LIEF update?

[2020-12-30 16:56] mike-hunhoff commented on #387
Hi @steven-hh-ding! Thank you for your suggestion! I originally used the `Strings` helper class and found it missed strings that the current implementation does not.

e.g. `mimikatz.exe_:0x4129F1` references the string `abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789` in a tight loop from the following basic block:

![example_1](https://user-images.githubusercontent.com/42192796/103

[2020-12-31 04:44] steven-hh-ding commented on #387
ah I see! This is great. Thanks a lot for looking into this! We didn't notice `get_strlit_contents` actually covers strings that is not in the database. We now use get_strlit_contents instead. A bit surprising that IDA missed this simple string..

[2020-12-31 04:45] #387 closed

[2021-01-04 22:36] jcrussell commented on #368
Fixed when using LIEF master. There's no tagged release yet though so users will encounter this unless they are also using LIEF master.

[2021-01-06 16:55] mike-hunhoff opened #389 "add option to enable viewing library rules"
As the number of library rules increases it may be useful to allow a user to enable these rules to be displayed in the plugin UI.

[2021-01-07 22:33] recvfrom opened #390 "Have file limitations and corresponding messages live in capa-rules"
### Summary

Currently the list of which rules should show messages about file limitations lives in capa:

https://github.com/fireeye/capa/blob/47bf7b1325571d95cd670d8239d9e1596797e963/capa/main.py#L154-L191

Would it make sense for that list to live in capa-rules instead?

### Motivation

If a new rule is added to capa-rules that should trigger a new file limitation message, it currently requires

[2021-01-08 09:25] mr-tz commented on #390
That's a great idea and I like your suggestion of using a capa rule instead.

For example we could use a `library` rule with a special namespace, e.g. `capa/file-limitations` and features like
[code]

Then simplify the code accordingly. Would you mind taking a stab at this? Otherwise, I can address it soon.

[2021-01-08 09:34] mr-tz commented on #389
I can see this being useful in the plugin and maybe even for the `-vv` mode.

All render modes appear to use `rutils.capability_rules` which omits `library` rules. So adjusting there should be straight-forward.

[2021-01-08 12:28] mr-tz commented on #390
In a similar fashion we could add a warning around anti-analysis techniques, e.g. when encountering anti-disassembly techniques, obfuscated API calls, etc. These could clarify what output to expect from a sample.

[2021-01-08 18:15] williballenthin commented on #390
we could add an additional field to the meta block to indicate "this is a limitation rule" and maybe its warning text (or maybe just reuse the description field)?

[2021-01-08 20:49] recvfrom commented on #390
@mr-tz I'm still navigating my company's open source contribution approval system, so I'm not sure when I'd be able to get a PR for this in by. :( Sorry about that

[2021-01-10 07:50] Still34 opened #392 "Crash on IDA 7.5 SP3"
### Description

Upgrading to the latest service pack crashes on startup if capa is installed in the plugins directory, even with the latest [IDA Python 3.9 patch for 7.5 SP3](https://www.hex-rays.com/blog/python-3-9-support-for-ida-7-5/) installed. Downgrading to older version of 7.5 works.

### Steps to Reproduce

1. Upgrade IDA Pro to 7.5 SP3
2. Install the plugin as normal
3. Launch IDA
4. Cra

[2021-01-10 07:57] Still34 commented on #392
Fixed. Had to reload the existing IDAPython configuration using `idapyswitch.exe` as admin *after* applying the official patch.

[2021-01-10 07:57] #392 closed

[2021-01-11 08:00] mr-tz commented on #390
No worries, @recvfrom 😄 We'll get to it soon.

[2021-01-12 23:35] williballenthin commented on #201
https://github.com/vivisect/vivisect/pull/331 just merged

[2021-01-12 23:37] williballenthin commented on #201
just need to wait for new viv release on pypi and then we can close this out

[2021-01-15 21:23] mike-hunhoff commented on #163
Beta version of the rule generator for `capa explorer` committed [here](https://github.com/fireeye/capa/tree/explorer/rule-generator).

`capa explorer` contains two tabs, one for program analysis and one for generating new rules. The interface currently looks like this:

![Screen Shot 2021-01-15 at 1 51 13 PM](https://user-images.githubusercontent.com/42192796/104777822-9f29c800-5739-11eb-820c-163

[2021-01-19 20:18] williballenthin opened #397 "release v1.5.0"
its been a bunch of months since we released v1.4.1 and we have a whole bunch of rule updates in master. so, lets release v1.5.0 soon so that people who rely on the standalone binaries can benefit from the new rules.

[2021-01-19 20:19] williballenthin commented on #397
https://github.com/fireeye/capa/milestone/7

[2021-01-19 20:20] williballenthin commented on #362
LIEF 0.11 was released yesterday: https://github.com/lief-project/LIEF/releases/tag/0.11.0

[2021-01-19 20:24] williballenthin commented on #368
LIEF 0.11 released yesterday, so we can update and pin the dep

[2021-01-19 20:25] williballenthin commented on #368
https://github.com/danielplohmann/smda/pull/19

[2021-01-20 09:56] mr-tz opened #398 "lib rules not included in scoped rules"
This was observed in https://github.com/fireeye/capa-rules/pull/225.

Thorough lints fail to validate lib rules, because we ignore "lib" rules here:
https://github.com/fireeye/capa/blob/20ce29b0333741c3f677fc501e3c7e34dc062077/capa/rules.py#L864-L879

Possible solutions:
- remove "lib" exclusion (easy, however, there may be undesired side-effects @williballenthin?)
- add `RuleSet.lib_rules` (not a

[2021-01-21 21:12] mike-hunhoff commented on #398
This appears to be causing issues in the rule generator plugin as well e.g. when a user attempts to create a new `lib` rule the plugin cannot make a match because the rule isn't included in the final ruleset (as no dependencies yet exist):

With `lib: true`:

![Screen Shot 2021-01-21 at 2 03 28 PM](https://user-images.githubusercontent.com/42192796/105412498-148e1080-5bf2-11eb-8416-1070e9045c60.pn

[2021-01-22 09:06] mr-tz commented on #313
Is this meant for things like whitespace, indents, line-separators, single empty line at EOF?

[2021-01-22 14:18] williballenthin commented on #313
yeah. we should be able to programmatically invoke the formatter, and compare the results with existing rule text.

[2021-01-22 14:18] #362 closed

[2021-01-22 14:18] #368 closed

[2021-01-26 16:26] williballenthin commented on #385
wondering/hoping if https://github.com/vivisect/vivisect/pull/338 is related.

[2021-01-26 20:24] upside2 commented on #385
I don't think so.  This sample executes without error in our production environment, which has #338.

[2021-01-26 20:34] mmguero commented on #397
This would include updating what's on https://pypi.org/project/flare-capa/ as well, I hope? Thanks!

[2021-01-27 07:46] mr-tz commented on #397
Yes, hoping to get this out in the next couple of days. We may wait for a vivisect update which could delay this a little bit longer though.

[2021-01-28 01:25] mike-hunhoff opened #403 "exception occurs in rule parsing when adding description to api feature"
e.g. `- api: Sleep = This is sleep` results in an `invalid rule` error.

[2021-01-28 07:21] mr-tz opened #405 "Disable tests in Python 3.6"
Tests in Python 3.6 hang with `Running setup.py install for lief: still running...`
I think we can disable this older version.

Update: Python 3.6 tests took about 40 minutes to run, suggest we monitor if this was an outlier or disable otherwise.

_Originally posted by @mr-tz in https://github.com/fireeye/capa/issues/400#issuecomment-765269401_

Ran for 49 minutes on another PR:
![2021-01-28_08-10

[2021-01-28 07:35] #405 closed

[2021-01-28 09:49] #398 closed

[2021-01-28 10:18] #403 closed

[2021-01-28 16:13] williballenthin commented on #385
![image](https://user-images.githubusercontent.com/156560/106166047-fde33e80-6148-11eb-8df7-f6ca46113bd2.png)

doesn't fix it. will dig into the issue.

[2021-01-28 16:18] #313 closed

[2021-01-28 16:53] williballenthin commented on #385
triaged upstream. awaiting review and merge (or reject) of https://github.com/vivisect/vivisect/pull/347

if its rejected, then this is a situation of unsuccessfully trying to process a corrupt PE file. carrying on or rejecting such a binary are both valid strategies, imho.

[2021-01-28 17:01] williballenthin commented on #50
with SMDA added, capa can be used as a library on py3.

[2021-01-28 17:01] #50 closed

[2021-01-29 18:07] williballenthin commented on #385
fixed upstream. awaiting 0.2.0 of viv (maybe this week) and then we can close this issue.

[2021-01-29 19:10] mr-tz commented on #385
Great, thanks for the fix! Let's release v1.5.0 after this.

[2021-02-01 18:26] mike-hunhoff opened #410 "stop tqdm module from creating daemon threads when instantiated with disable = False"
The following code snippets create daemon threads, which results in unnecessary, long running threads when calling this code from the IDA Pro plugin:

https://github.com/fireeye/capa/blob/bb7001f5f2ec02a28ed706435aea1d7e71291e8f/capa/main.py#L369

and

https://github.com/fireeye/capa/blob/bb7001f5f2ec02a28ed706435aea1d7e71291e8f/capa/main.py#L118

`tqdm` when instantiated creates a new [daemon thr

[2021-02-01 18:33] williballenthin commented on #410
yikes, that's annoying!

what if we assign `tqdm.tqdm` to a local variable `pbar`, and if the progress bar is disabled, overwrite `pbar` with a fake object, like:

[code]

[2021-02-01 18:34] mike-hunhoff commented on #410
that works for me!

[2021-02-01 19:48] williballenthin commented on #352
closing since nobody needs this feature right now. reopen if the situation changes.

[2021-02-01 19:48] #352 closed

[2021-02-01 19:49] williballenthin commented on #201
just waiting on viv 0.2.0 to be released

[2021-02-02 15:38] #410 closed

[2021-02-06 22:47] re-fox opened #416 "[Bug] TypeError in vverbose.py"
### Description
When running `capa -vv` (Python 3 + smda) a TypeError is raised.

### Steps to Reproduce
1. `capa -r <path_to_current_rules> -vv 49d484185bb85e90b19721ef2868cc4fa34c71dffce9a074d22758cc20aac2f5 `

[code]

### Versions
-  Built from `master`
- Python 3.6.8 / smda==1.5.13

### Additional Information
Error does not occur on Python2 + viv backend

[2021-02-08 16:54] #416 closed

[2021-02-08 17:06] williballenthin opened #418 "ci: pyinstaller: warning: smda invalid syntax"
https://github.com/fireeye/capa/runs/1856526108?check_suite_focus=true

[code]

![image](https://user-images.githubusercontent.com/156560/107254554-a66c8a80-69f4-11eb-953b-321479c5820d.png)

SMDA uses py3-style type annotations that are not valid for py2.

![image](https://user-images.githubusercontent.com/156560/107255115-36123900-69f5-11eb-9ab9-e253ba003215.png)

[2021-02-08 17:26] williballenthin commented on #418
pyinstaller builds for py2-only, and the SMDA code is meant for py3 interpreters only. so, this is not really an issue.

[2021-02-08 17:26] #418 closed

[2021-02-08 17:29] williballenthin opened #419 "setup: bump viv-utils to v0.3.18"
https://github.com/williballenthin/viv-utils/releases/tag/v0.3.18

[2021-02-08 17:34] #397 closed

[2021-02-08 17:34] williballenthin commented on #397
https://github.com/fireeye/capa/releases/tag/v1.5.0

[2021-02-09 15:49] #419 closed

[2021-02-10 10:01] mr-tz opened #422 "CI: check version before release"
We tend to forget updating `version.py` when releasing a new version.

Let's add an Action to update it automatically or at least abort if version.py != tag.

See https://docs.github.com/en/actions/reference/events-that-trigger-workflows#release

Related: https://github.com/fireeye/capa/issues/184

[2021-02-11 15:05] williballenthin opened #423 "CI: use frozen features during linting to improve performance"

[2021-02-11 15:06] williballenthin opened #424 "CI: run new rules against a set of well-known files to demonstrate prevalence"
shows if a rule is susceptible to obvious FPs or unexpected matches. doesn't need to be a huge scale of samples, just a bit of diversity.

[2021-02-12 18:46] mike-hunhoff opened #425 "ida: enhance API detection (potential)"
observed interesting API call technique:

![Screen Shot 2021-02-12 at 10 45 43 AM](https://user-images.githubusercontent.com/42192796/107808994-b0112d80-6d27-11eb-8bed-8c79c71eff32.png)

IDA is able to detect the proper API call for decompilation:

![Screen Shot 2021-02-12 at 10 46 34 AM](https://user-images.githubusercontent.com/42192796/107809094-cdde9280-6d27-11eb-9698-30850f230c0f.png)

can we

[2021-02-17 00:03] mike-hunhoff opened #427 ""is not an ELF" spurious prints from LIEF"
e.g. capa output (`Python 3`, w/ `smda` backend):

[code]

This appears to be an issue with `LIEF` and has already been reported upstream: https://github.com/lief-project/LIEF/issues/541

We should watch for a fix and pin the `LIEF` dependency appropriately.

[2021-02-17 17:00] mike-hunhoff commented on #427
just to clarify this is till an issue with the latest version of `lief`:

[code]

[2021-02-17 17:07] williballenthin commented on #427
messages seem to come from here:
https://github.com/lief-project/LIEF/blob/6720ed2385a580988f748e79c46a3ef085053471/src/ELF/Parser.cpp#L158-L172

i haven't yet been able to trace down how `ELF::parse` gets called from `lief.parse` :-(

[2021-02-17 22:09] mike-hunhoff opened #430 "smda: extracting negative Number features"
The `smda` backend appears to be extracting negative numbers e.g. `-1` versus `0xFFFFFFFF` as expected. This is causing rule matches to fail.

Sample feature extraction:

`$ python scripts\show-features.py tests\data\493167e85e45363d09495d0841c30648.sys_ --function 0x404b00`

`smda`:
[code]

`viv`:
[code]

[2021-02-18 08:47] mr-tz commented on #430
Good catch.

`ida`:
[code]

https://github.com/fireeye/capa-rules/blob/master/doc/format.md#number

We need to add test fixtures that account for this.

[2021-02-18 16:48] williballenthin opened #431 "capa-native function identification"
https://github.com/fireeye/capa/discussions/414#discussioncomment-342171

[2021-02-18 17:49] williballenthin opened #432 "migrate to py3"
once viv has a py3 release, then we can move the project completely over to py3.

this would enable things like type hinting, etc.

we'll need to update the pyinstaller config to distribute a py3 interpreter instead.

this is a breaking change, so it will be part of the v2.0 release.

[2021-02-18 17:51] williballenthin opened #433 "function id"
use a function identification technology to recognize functions and associate with their name and other metadata (like source library).

let rules match on these names/metadata.

consider filtering out rule matches in well known library functions to reduce FPs (by default).

discussion: https://github.com/fireeye/capa/discussions/414

[2021-02-18 17:51] williballenthin commented on #433
#431 using capa features to identify functions

[2021-02-18 17:52] williballenthin opened #434 "vivisect vamp function identification"
https://github.com/fireeye/capa/discussions/414#discussioncomment-342163

[2021-02-18 17:52] williballenthin commented on #433
#434 using vivisect vamp backend to identify functions

[2021-02-18 17:53] williballenthin opened #435 "flirt function identification"
https://github.com/fireeye/capa/discussions/414#discussioncomment-342159

use open source FLIRT implementation to identify functions.

signature distribution is an open problem.

TODO:
  - [x] consider moving into viv-utils 358aab85e7da4e502497e73542392cf311c3393c
  - [x] cleanup integration/API f2c95568bdbb6a8673f310fbfa01247f22131277
  - [x] specify signature set path via cli f2c95568bdbb6a8673f

[2021-02-18 17:53] williballenthin commented on #433
#435 using FLIRT to identify functions

[2021-02-24 04:48] farzonl commented on #427
Looks like capa uses lief.parse in  3 places line  67,75, & [92](https://github.com/fireeye/capa/blob/a813e219e6d3ef84eacfe0b22a017c6bfc227916/capa/features/extractors/smda/file.py#L92).
All 3 cases use the filePath parser. All the lief.parse entry points start in the abstract parser. Your call stack will look like
https://github.com/lief-project/LIEF/blob/6720ed2385a580988f748e79c46a3ef085053471/

[2021-02-24 23:20] williballenthin commented on #433
having function id leads to changes in the following places:

1. an initial pass across all functions to match signatures.
  a.  add symbol name to function (and any local names)
  b. attach metadata to address indicating signature hit
2. during feature extraction, skip functions that have metadata attached to address and indicating library function
3. during feature extraction, inspect call targe

[2021-02-25 18:37] williballenthin opened #440 "avoid the large viv dependencies on py3"
![image](https://user-images.githubusercontent.com/156560/109200424-d2f70500-775d-11eb-9b47-fbc10bd09b5b.png)

these definitely need to be excluded from the pyinstaller builds. i wonder if there's a way we can avoid fetching them during installation, esp. on server OSes.

[2021-02-25 18:41] williballenthin commented on #440
asked upstream to limit the gui dependencies to a specific profile.

https://github.com/vivisect/vivisect/issues/371

[2021-02-25 18:51] williballenthin commented on #433
do underlying backends provide function id on their own? or do they provide the APIs that capa needs to do its own form of function id? i think its this second one. though maybe we should support both, so IDA can continue to mark lib functions?

to support underlying function id:
  - `has_function_id(va: int) -> bool`
  - `get_function_name(va: int) -> str`

to support FLIRT matching by capa:
  -

[2021-02-25 19:03] williballenthin commented on #433
how do we provide function names/symbols to the backends as they're extracting features?

[2021-02-25 20:33] williballenthin opened #441 "viv: incorrectly extract branch section"
https://github.com/fireeye/capa/pull/421#discussion_r583085552

`get_section` is called with `None` as some of the va returned by `insn.getBranches()` are `None` in `extract_insn_cross_section_cflow`

[2021-02-25 23:01] williballenthin commented on #435
working branch: https://github.com/fireeye/capa/tree/function-id-flirt

[2021-02-25 23:16] williballenthin commented on #435
some initial results:

FLIRT matching works well to find library functions. I've been using PMA 16-01.exe as my test sample, and using `vc32rtf.sig` as IDA would finds 104 of 172 total functions. this means that capa only has to match against the remaining 70 functions, limiting the potential for FPs.

however, the FLIRT matcher performance is not as good as I'd have hoped:

no FLIRT: ~12s
using [

[2021-02-25 23:40] williballenthin commented on #435
FLIRT matching would parallelize really well, except we're in Python-land.

[2021-02-26 14:58] mr-tz commented on #433
+1 on supporting both to leverage backend's function ID plus capa's own ID on top.
We could change the extractor `get_functions` signature to support modifiers, e.g. `skip_libs`, like the current IDA helper function does.

[2021-02-26 21:36] williballenthin commented on #435
I benchmarked the `RegexSet` implementation versus a naive "for each regex, match" implementation and they come out similar:

[code]

The multi regex solution uses about 4x more memory, but performs slightly better when the entire signature set. In any case, its not 10x faster or slower. Need to keep looking for optimizations.

[2021-03-01 05:05] williballenthin commented on #435
after some brainstorming and implementation, i've made FLIRT matching much faster. like 10,000x faster!

the key insight are that:
  1. matches are *always* anchored at the start of the haystack, and
  2. the haystack is small (fits in cache/RAM)

therefore, during matching we can probe forward and backwards in the haystack. in contrast, regular expressions match strictly iteratively from the firs

[2021-03-01 05:20] williballenthin commented on #435
with new FLIRT backend, we see performance against PMA 16-01.exe like:

[code]

then capa matching against the remaining 75 functions in ~4 seconds for a total runtime of ~6.5s total. when i disable FLIRT signatures, total runtime is ~12s. that's a speedup of around 1.8x!

[2021-03-01 05:21] williballenthin commented on #435
the old implementation matched 104 functions while the new implementation matches 94. need to look into that.

before/after: https://gist.github.com/williballenthin/0f6b10b2fe1937ffa0961c62df959df0

[2021-03-01 05:43] williballenthin opened #443 "function id signature set"
which functions do we want signatures for?

this enables:
  - avoid FP matches in these library functions
  - match against calls to these library functions

[2021-03-01 05:48] williballenthin commented on #443
- [libcmt](https://github.com/Maktm/FLIRTDB/blob/1f5763535e02d7cccf2f90a96a8ebaa36e9b2495/cmt/windows/libcmt_15_msvc_x64.pat)
![image](https://user-images.githubusercontent.com/156560/109456833-e54f9800-7a16-11eb-9b02-66a097057a6c.png)
  - [ucrt](https://devblogs.microsoft.com/cppblog/introducing-the-universal-crt/)
![image](https://user-images.githubusercontent.com/156560/109456916-0adca180-7a17-

[2021-03-01 05:50] williballenthin commented on #443
ideally use a matrix of visual studio releases, too

[2021-03-01 05:53] williballenthin commented on #443
popular open source libraries. which ones? capa identifies the following, which seems to suggest some prevalence in malware:

![image](https://user-images.githubusercontent.com/156560/109457264-c00f5980-7a17-11eb-92c9-66f889e2a470.png)

need to find a good source .lib archives.

[2021-03-01 07:45] mr-tz commented on #443
boost (https://www.boost.org/) and other crypto and compression libraries come to mind

also at least run-time support for gcc (mingw) and clang

[2021-03-01 14:58] mr-tz commented on #434
Testing with vc32rtf derived signatures by adding a `addFuncAnalysisModule` in `viv_utils`. With default vamp this results in:

[code]

vs. no signature matching

[code]

[2021-03-01 15:43] #441 closed

[2021-03-01 16:53] mr-tz commented on #440
appears to be fixed

[2021-03-01 17:07] williballenthin commented on #440
i agree its fixed in master, though need new viv pypi release.

[2021-03-01 19:00] williballenthin commented on #443
vcpkg makes this so easy!

[code]

[2021-03-02 11:16] mr-tz opened #444 "Release roadmap - capa versions - Python 2/3"
#421 adds Python 3 support using the vivisect backend. However, the code also still supports Python 2.

I propose a version 1.6 release (https://github.com/fireeye/capa/milestone/8) that will provide the final support for Python 2 in the compiled release binaries. If vivisect provides another Py2 release we could pin to `vivisect=0.2.1`. This would be desirable to address the issues mentioned in t

[2021-03-02 15:31] williballenthin commented on #444
supporting 3.6 for the next year (or until next major release after 201-12) seems fair. 3.6 has wide deployment and i think its the default distributed with debian stable.

we can do our dev in 3.8/3.9 but maintain some CI tests that ensure 3.6 works ok.

if there's a killer feature that makes us want to upgrade to a later version, that's fine too! we'll just give people a bit of warning and bump

[2021-03-02 16:40] mr-tz commented on #444
Wow, at least for web 3.6 is still the most popular (https://w3techs.com/technologies/details/pl-python/3)

![2021-03-02_17-33-16](https://user-images.githubusercontent.com/17606537/109681102-6c1e8500-7b7d-11eb-8981-7768a71e4320.png)

Also see https://dev.to/hugovk/python-version-share-over-time-6-1jb8

My only concern with 3.6 stems from the experiences with long testing run times, see #405. Of c

[2021-03-02 17:11] williballenthin commented on #443
i put all this in a [Windows docker container](https://github.com/williballenthin/siglib/blob/main/Dockerfile) (which took quite a bit of experimenting/learning) only to find that GH Actions doesn't support Windows containers.

so can build this stuff reproducibly on my computer. if its meaningful, we can probably deploy CI to appveyor and build on windows there.

[2021-03-03 17:53] Ana06 commented on #444
I agree with supporting Python 3.6+ at least until 3.6 stops receiving security updates.

[2021-03-04 10:19] Ana06 opened #445 "vivisect 1.0.0 extracts less features than vivisect 0.1.0"
`971e599e6e707349eccea2fd4c8e5f67.exe_` and `dc4dc746d8a14060fb5fc7edd4ef5282.exe_` extract less features in Python 3 (with vivisect 1.0.0 and 1.0.1) than with Python2 and vivisect 0.1.0 (not 0.2.0). From https://github.com/fireeye/capa/pull/421:
[code]

We should take a closer look at this, as it could be a bug introduced in vivisect 0.2.0 or 1.0.0.

Note that there are many other binaries for wh

[2021-03-04 16:18] williballenthin commented on #443
- protobuf

[2021-03-04 23:14] williballenthin opened #447 "add type hints to public API functions"
once we're py3-only, we should consider adding type hints to the "public" API functions to better document how they should be used.

i don't think we should strive to type hint every function (although adding them as we go is fine). doing the public API is a good balance for being helpful without too much work.

[2021-03-04 23:15] williballenthin commented on #447
we could enable a system like mypy in CI to check that our functions are being used correctly.

[2021-03-05 15:12] williballenthin opened #448 "FLIRT performance for al-khaser_x86.exe"
matching this single function takes many seconds, in contrast to most functions that take around 0.01 seconds. why is this? how can we bound the runtime performance of the FLIRT matcher?

[2021-03-05 15:14] williballenthin commented on #448
the function in question is `0x41afff`:

![image](https://user-images.githubusercontent.com/156560/110134431-a01ac580-7d8a-11eb-9c74-2ec31e94672d.png)
tail call
![image](https://user-images.githubusercontent.com/156560/110134483-ab6df100-7d8a-11eb-96e5-7af8127d5522.png)
calls
![image](https://user-images.githubusercontent.com/156560/110134527-b9bc0d00-7d8a-11eb-932b-89468f1a1c0f.png)
tail call
![i

[2021-03-05 15:33] #448 closed

[2021-03-05 16:46] williballenthin opened #449 "refactor cli argument parsing and reuse across scripts"
currently we have a bunch of scripts that invoke capa in various ways. they each need many of the cli arguments provided by capa main; however, we currently duplicate the argparse logic in each script. this means the arguments can easy fall out of date and are generally a point of maintenance. we should capture the common cli arguments into a re-usable parser that the scripts can invoke by default

[2021-03-05 18:24] williballenthin opened #451 "use python3 for standalone builds"
migrate to distributing the standalone binaries with python 3, upgrading pyinstaller to 4.2

[2021-03-05 18:29] williballenthin commented on #451
need utf-8 de/encoding in the spec file:
![image](https://user-images.githubusercontent.com/156560/110158017-1c6ed200-7da6-11eb-8afc-44c8015a7c94.png)

[2021-03-05 18:30] williballenthin commented on #451
otherwise it builds, but its massive!

![image](https://user-images.githubusercontent.com/156560/110158064-285a9400-7da6-11eb-8f89-2b478eef7fca.png)

[2021-03-05 18:36] mr-tz commented on #451
awesome, I think the bigger the program the better it is 😉

[2021-03-05 22:06] #451 closed

[2021-03-05 22:07] #449 closed

[2021-03-08 10:36] #201 closed

[2021-03-08 10:36] #385 closed

[2021-03-09 11:46] mr-tz opened #456 "remove Py2/3 branches"
remove Py2/3 branches, e.g. `if sys.version_info >= (3, 0):`

[2021-03-09 12:00] Ana06 opened #457 "Improve release process: Update CHANGELOG in every PR"
Instead of having to go over all commits when we release, I suggest we update the CHANGELOG in every PR. Two things are needed to put this in practice:

1. CHANGELOG template.
2. GitHub Action to enforce this is used. A check in PR will fail if the CHANGELOG is not modified and the `no changelog` (or similar name) tag is not used.
3. Update documentation
4. [OPTIONAL] Create a PR template (as with

[2021-03-09 12:33] Ana06 commented on #457
This wouldn't include the rules as they are in a different repo, but the new rules could maybe be automatized with Github Actions once this is setup.

[2021-03-09 12:37] Ana06 opened #458 "Improve release process: Create tag in capa-rules automatically"
It would save as a bit of work/time that the release GitHub Actions creates the tag in capa-rules. This way we avoid forgetting it and it is always done in the same way.

Note that @mr-tz and I have removed all the releases in capa-rules and left only the tags. We are not really releasing capa-rules, just tagging it to release it in capa.

[2021-03-09 12:40] r0ny123 opened #459 "Error running CAPA(1.6.0) as library using vivisect backend"
### Description

The latest CAPA (1.6.0) failed to extract results from a pe file while using vivisect backend.

### Steps to Reproduce

1. `pip install flare-capa`
2. run `capa -r path/to/rules -b vivisect "tests/data/Practical Malware Analysis Lab 01-01.dll_"`
3. Get the following error :
[code]

### Expected behavior:

CAPA should extract the information as expected.

### Actual behavior:

See

[2021-03-09 13:34] mr-tz commented on #459
In my Python 2 installs the dbghelp DLLs appear to be missing? However, they are present in Python 3.

[code]

[2021-03-09 13:39] mr-tz opened #460 "Test if capa runs as library before release"
Add "does it run" check to `.github/workflows/build.yml`

Occurred in #459.

[2021-03-09 13:45] mr-tz opened #461 "Compiled binary size"
The v1.6.0 binaries are between 14.8 MB and 23.2 MB. Can we optimize the file size? Or is this not even an issue?

[2021-03-09 14:07] r0ny123 commented on #459
Thanks for the info. Will check soon!

[2021-03-09 14:16] r0ny123 commented on #459
Should we make viv guys to release vivisect 1.0.1 with vivisect/vivisect#372 and also release a capa version 1.6.1? What do you think :) ?

[2021-03-09 14:27] Ana06 commented on #459
I have just asked in vivisect. We should release capa 1.6.1 once vivisect 1.0.1 has been released. Thanks for the report @r0ny123!

[2021-03-09 14:40] Ana06 commented on #460
would it make sense to test it in every PR? 🤔

[2021-03-09 16:03] williballenthin commented on #460
I think if `dbghelp` (windows DLL) is not available, then this will not be loaded by vivisect. since we do CI on linux this code wouldn't have been executed (theory).

[2021-03-09 16:09] williballenthin commented on #460
we should do a CI run on `windows-latest` like @r0ny123 suggests in #459
![image](https://user-images.githubusercontent.com/156560/110501202-2bf85e80-80b7-11eb-98b7-21c1856cd7da.png)

[2021-03-09 16:12] williballenthin commented on #456
@Ana06 yes

[2021-03-09 16:13] williballenthin commented on #457
if you can create and maintain the gh action, i'm ok going forward with this plan.

i like the idea of having a PR template with the changelog details, too.

[2021-03-09 16:17] williballenthin commented on #461
they did grow when we switched to py3/pyinstaller4.2:

![image](https://user-images.githubusercontent.com/156560/110501905-e5573400-80b7-11eb-830c-bb9d448376ee.png)

[here](https://github.com/fireeye/capa/pull/452/files#diff-023c7253ede3c70a7bd820c1dc33df0b078dfa7fa73c330b4e8bf7c4061e09deR63-R80) i spent a bit of time cutting down the binary sizes - they were initially around 250MB!

there's proba

[2021-03-09 17:52] williballenthin opened #462 "explorer: initialize rules directory"
[code]

seen by @Ana06

[2021-03-09 17:54] williballenthin opened #463 "explorer: make settings button more easy to identify"
from @Ana06

[2021-03-09 17:55] williballenthin commented on #463
@Ana06  can you explain what you'd like to see?

[2021-03-09 18:30] williballenthin commented on #462
from @mike-hunhoff

[2021-03-09 19:12] mike-hunhoff commented on #462
thanks for the catch @Ana06. I have improved the handling of this case in #464.

[2021-03-09 19:17] #462 closed

[2021-03-09 21:24] mike-hunhoff commented on #463
how about something like this @Ana06?

![Screen Shot 2021-03-09 at 2 21 29 PM](https://user-images.githubusercontent.com/42192796/110539849-fc5f4b80-80e2-11eb-80ce-c89997de796d.png)

[2021-03-10 08:07] mr-tz commented on #463
wow, that looks great!

[2021-03-10 09:28] Ana06 commented on #463
Awesome!!!! 💘

[2021-03-10 17:18] Ana06 opened #466 "rule generator: It doesn't work for strings with new lines"
Adding an string which includes `\n` produces an invalid rule, although it is possible to create a valid rule with such a string.

For example:
`Hostname:\t\t\t%s\nIP adress:\t\t\t%s\nOS version:\t\t\t%s\nUsername:\t\t\t%s\nRoot directory:\t\t%s\nTime (UTC):\t\t\t%d:%02d\n`

![Screenshot 2021-03-10 at 18 16 59](https://user-images.githubusercontent.com/16052290/110669643-d01ff980-81cc-11eb-92b1-12

[2021-03-10 17:25] Ana06 opened #467 "capa explorer: feature request - allow to increase font"
I haven't found a way to increase the fond in the capa explorer. I would like to be able to use capa explorer without glasses. 🤓
![Screenshot 2021-03-10 at 18 24 37](https://user-images.githubusercontent.com/16052290/110670619-e2e6fe00-81cd-11eb-92d2-d67b45d783ed.png)

The font option is disabled while in the plugin:
![Screenshot 2021-03-10 at 18 19 30](https://user-images.githubusercontent.com/16

[2021-03-10 18:30] #463 closed

[2021-03-11 01:49] johnk3r opened #469 "UnicodeDecodeError - Capa v1.6.0"
Hi!

In the last release (v1.16.0) I am getting the error message below when I run capa.exe on files with extension **".dll_"**. This behavior does not occur in version v1.15.0.

- In version v1.15.0 everything happens normally:

[code]

- In version v1.16.0 I have the following error:

[code]

Tk.

[2021-03-11 03:44] williballenthin commented on #469
can you confirm that there are not any related `*.viv` files in that directory? if so, can you delete them and try again?

the underlying vivisect workspace format is not compatible across py2/py3, and we've missed this issue in the update to py3.

[2021-03-11 10:26] Ana06 commented on #469
What about introducing a nicer exception when getting an `UnicodeDecodeError` while reading `.viv` files. Something like: `Reading '<name>.viv' file failed, you may be using a .viv file generated with Python 2 (not compatible with Python 3`.

I think it is ok that `.viv` files are not compatible (they can always be regenerated when updating to Python3), but I think we should have documented this b

[2021-03-11 12:06] mr-tz commented on #469
Yes, that exception and others when generating the workspace, should be handled better. In capa is fine by me.

Documenting this better is another great idea. Let's add a warning in the changelog and/or release notes as you suggest.

[2021-03-11 13:13] johnk3r commented on #469
You are sure!
In my tests the problem occurs when I run v.1.16 in a file that was analyzed by v.1.15 and that generated ".viv".

After removing the file the problem does not happen.

[2021-03-11 16:06] williballenthin commented on #456
when we decide to make the break for py3, which is currently right after 1.6.1, we should:

  - [ ] create a tag marking the commit, so we have a place to reference if we need to backport anything
  - [ ] add an assert to main that ensures py3, to avoid any silly issues reported to gh
  - [ ] update the setup.py to specify just py3
  - start removing py2 code
    - [ ] look for `sys.version_info`

[2021-03-11 18:18] Ana06 opened #471 "rule generator: tab removes selected text"
Pressing `tab` while selecting some text in the capa explorer Rule generator preview removes the text. This in specially unexpected when selecting several lines to change the indentation of all of them as once.

https://user-images.githubusercontent.com/16052290/110834881-607a3f00-829e-11eb-9767-91ffe8bf25c4.mov

[2021-03-11 19:12] Ana06 opened #472 "rule generator: insert default child statement when specifying basic block subscope"
The rule generator recognizes the following as a valid rule (Rule compiled and matched):
[code]

But it complains that when adding a basic block (failed to match rule):
[code]

Adding an extra element to the basic block, it claims that it failed to compile the rule (invalid rule: subscope must have exactly one child statement):
[code]

https://user-images.githubusercontent.com/16052290/110840578-2

[2021-03-11 19:19] williballenthin commented on #471
to characterize this a bit: this is behavior like you'd see in a text editor rather than you'd see in a code editor.

[2021-03-11 19:22] Ana06 opened #473 "rule generator: future request - highlight features at location"
It would be really cool if when selecting a location in the IDA view, the rule generator opened and highlighted the extracted features at that location. I find myself expending a lot of time looking for the wanted feature in the features view. The search helps but if you look for a number, this still gives a lot of results when having a lot of features. I think that highlighting extracted features

[2021-03-11 19:27] Ana06 commented on #471
@williballenthin

I needed to try this to believe it 😮 The IDA database notepad seems to behave similarly... ok, let's call this a feature request and not a bug. 💡

[2021-03-11 19:39] Ana06 commented on #456
@williballenthin

Are you assuming that we are not merging this just after releasing 1.6.1? Because if we do, then we could just use 1.6.1 as reference. 🤔

[2021-03-11 21:19] williballenthin commented on #473
`ida_kernwin.UI_hooks.screen_ea_changed(self, ea, prev_ea)` can receive notification of this.

[2021-03-11 21:21] williballenthin commented on #456
yeah, we can use 1.6.1.

if we start providing backports, then we should have a separate branch far that, like `py2-main`

[2021-03-12 01:28] mike-hunhoff commented on #473
I'm thinking something like this (needs a couple touches before PR):

https://user-images.githubusercontent.com/42192796/110877912-759f9f80-8297-11eb-8939-11aca396fbee.mov

[2021-03-12 09:08] Ana06 commented on #473
Wooow!!! That's so great!!! 😮

[2021-03-12 10:46] mr-tz commented on #473
Really awesome! Alternative selection strategies I like are:
- current basic block
- currently selected EA +/- 40 instructions/heads

[2021-03-12 10:48] Ana06 commented on #469
I have created a PR in viv-utils to provide a better exception, as in viv utils we can ensure we only raise this exception when loading a `.viv` file easily: https://github.com/williballenthin/viv-utils/pull/16

There is also a PR to update the CHANGELOG/release notes: https://github.com/fireeye/capa/pull/475

[2021-03-12 10:53] mr-tz commented on #472
Those are not valid rules, see line 351-352. Otherwise, how should the features be combined?

https://github.com/fireeye/capa/blob/14e65c46011aca908863a770ec925cc222dc7f93/capa/rules.py#L347-L354

To make this easier the explorer could automatically add an `and`/`or` under the basic block.

[2021-03-15 11:39] Ana06 commented on #184
What do you think about moving this issue to the [Wiki](https://docs.github.com/en/github/building-a-strong-community/about-wikis) (it needs to be enabled in the project settings)?

[2021-03-15 12:06] mr-tz commented on #184
I'd prefer an issue template `new_release.md` with the above checklist. This could then be associated with each version milestone and contain a task list to check off.

[2021-03-15 15:03] Ana06 commented on #184
An issue template for the release process would be shown every time someone creates an issue. This may be confusing for some users. In addition, if we modify the release process, we need to update the template and the current milestone (duplication).

I personally think this should be part of the documentation instead of an issue/issue template. We could also add it to the docs folder. But I think

[2021-03-15 15:12] williballenthin commented on #184
personal opinions, not decisions:

We should enable the wiki if we expect many other people to contribute to it; otherwise, I think we should stick to md formatted files embedded within the repo. They get rendered essentially the same within GH and .md documents keep our history within git (vs. GH webapp).

We should really have a release issue with checklist for each release (sorry, I've been laz

[2021-03-15 16:45] Ana06 commented on #184
@williballenthin

This sounds reasonable 👍  What about a `release.md` file in our doc folder?

I am not sure if I understand how this should work. If I want to release, should I create an issue with the checklist and mark the items as I complete them? Why do we need an issue? The list is not that long. Isn't enough that the person releasing follows the list without creating an issue? 😕 Alternative

[2021-03-15 20:23] williballenthin commented on #184
even better, i think this is a good place to put the checklist.

the last the i want to do is create more process that is annoying to complete. so, lets definitely not make any bad decisions here. but, i know i keep forgetting steps during release, so i certainly want to refer to a list. putting it in the PR makes it clear which items i've completed, so i'll personally do this, but wont necessaril

[2021-03-15 20:42] #196 closed

[2021-03-15 22:29] williballenthin commented on #469
viv-utils v0.5.0 released

[2021-03-16 08:31] mr-tz commented on #184
My reasoning for an issue template was that we only have to update one file and can immediately use it (instead of copying it) when working on a new release. By task list I meant the release process steps such as:
- [ ] run tests
- [ ] update `setup.py`
- [ ] ...

Versus a numbered list as used above.

Using a PR template should also work. Those are also used by less people, although I don't think

[2021-03-16 08:54] mr-tz commented on #469
Thanks for reporting. We've updated viv-utils and the documentation, so closing this now.

[2021-03-16 09:03] mr-tz commented on #74
see library function ID efforts, especially #433 and #435

[2021-03-16 09:45] Ana06 commented on #184
I can do it like this as well! It may be also useful if more than one person take care of the release (to know what has been already done).

@mr-tz

I think you can not have more than one PR template. One alternative would be to add it as a comment at the button. The other alternative is to have it in a `release.md` file in our doc folder and copy it to the PR when we release. 🤔

What about I add

[2021-03-16 09:56] Ana06 commented on #469
But we still need to use the new version of viv-utils: https://github.com/fireeye/capa/blob/df36bb9f35b33dcc2c2a8681d080339b5f717461/setup.py#L31 I'll send a PR! 😉

[2021-03-16 13:00] williballenthin commented on #184
yeah, lets definitely start with that. and we can continue the discussion here if we have further ideas.

[2021-03-16 13:02] #469 closed

[2021-03-16 14:46] mike-hunhoff commented on #472
Thank you for highlighting this @Ana06. @mr-tz is correct, these are not valid rules as the `basic block` subscope requires at least one child statement.

To make this less confusing we can insert a child statement when a user changes to `basic block` making sure to remove this child statement if the user switches to a different statement e.g. `and`, `or`.

[2021-03-16 15:20] Ana06 commented on #472
@mr-tz

Although the second rule error is `failed to match rule` and not `invalid rule` 🤔

[2021-03-16 16:03] mike-hunhoff commented on #472
Hm I'm guessing the second rule is "valid" in the sense that it contains exactly one child element, but capa won't be able to find a match for it because the type of the child statement is not as expected. If you nested `- offset: 0x14` underneath an `and` or `or` statement then the rule is valid and capa should be able to find a match for it.

We should modify the check to verify that a `subscope

[2021-03-16 16:47] mr-tz commented on #472
Yes, I think checking the type makes sense.

[2021-03-18 14:36] mr-tz opened #481 "Specify/filter rules"
For testing, linting, targeted large scale analysis, etc. it makes sense to only run specific rules. Currently this is done using the `tag` argument that supports _one_ selector on all the rules meta fields.

Ideally, one could also run
- `capa -r rules/nursery/ sample`
- `capa -r rule-with-dependency.yml`
- etc.

__The issue: in these cases dependency rules may be missing...__

1. Should capa try

[2021-03-18 18:26] williballenthin opened #482 "rule linter line ending inconsistency"
in https://github.com/fireeye/capa-rules/pull/297, @MalwareMechanic authors a rule with a comment at the end of a line, like `foooo # comment`. in this case, the linter requires `\r\n` to end the commented line, but `\n` elsewhere.

we should use consistent line endings everywhere.

![image](https://user-images.githubusercontent.com/156560/111677692-11c02e00-87e5-11eb-99d7-2878db6b90ae.png)

[2021-03-18 18:31] williballenthin opened #483 "linter: debug logging is broken"
the linter accepts `-d` to enable debug logging; however, it also sets `logging.getLogger("capa").setLevel(logging.CRITICAL)` which overrides the `capa.linter` logger. this means `-d` doesn't work.

[2021-03-18 18:34] mr-tz commented on #482
working on something for this

[2021-03-18 18:34] mr-tz commented on #483
on it!

[2021-03-18 18:39] williballenthin commented on #483
@mr-tz  see associate PR

[2021-03-18 18:39] mr-tz commented on #483
too slow

[2021-03-18 18:47] mr-tz commented on #482
ah, have to look into the linter/capafmt as well...

[2021-03-18 19:11] mr-tz commented on #482
I think commented lines are kept as they are for the roundtrip conversion. If they have CRLF EOLs before running capafmt, they will stay like that.

[2021-03-18 20:41] #482 closed

[2021-03-18 20:41] #483 closed

[2021-03-19 10:04] mr-tz opened #487 "stackstring detection miss"
PMA Lab 01-04

no detection in IDA or viv of stackstring

[code]

[2021-03-19 14:26] mr-tz commented on #423
to make this practical, we need an automatism to regenerate frozen feature files after a code update

[2021-03-19 14:49] mr-tz commented on #423
saving the viv workspaces likely produces similar performance improvements, but has the same issue wrt updating those files

[2021-03-19 14:52] mr-tz commented on #424
using viv/frz files for this is less of an issue than for #423 as we are not testing, but want to get a rough overview of potential rule hits/FPs

[2021-03-19 16:09] williballenthin commented on #487
this looks like an inlined memcpy to a destination on the stack. is it a stackstring??? jk i dont really want to debate that.

[2021-03-19 18:12] mr-tz commented on #423
$ time ../venv3/Scripts/python scripts/lint.py --thorough rules/ -t "process"
real    4m3.716s

with frozen features:
$ time ../venv3/Scripts/python scripts/lint.py --frozen tests/data/frozen --thorough rules/ -t "process"
real    2m20.567s

[2021-03-20 01:10] mike-hunhoff opened #488 "explorer: refactor code"
capa explorer is due for a code refactor, some of the files are getting too large to remain a single file.

[2021-03-20 01:11] mike-hunhoff commented on #471
addressed in #488

[2021-03-20 01:12] #471 closed

[2021-03-21 17:19] williballenthin commented on #435
with fixes from https://github.com/williballenthin/lancelot/issues/112, PMA16-01 is up to 141 matches against vc32rtf. there are only 189 functions total.

[2021-03-22 08:56] mr-tz opened #490 "CI: pin OS versions?"
Ui, good catch. We should better pin a concrete version for all tests then?!
For example, Ubuntu 20 doesn't come with Python 2, although I think we will dodge that bullet by going Py3 only soon 🤞

_Originally posted by @mr-tz in https://github.com/fireeye/capa/pull/476#r594281103_

[2021-03-22 15:02] mr-tz commented on #487
We currently only check if a `mov` goes directly to the stack. Here it goes to a register first then to the stack.
I think this specific pattern is easy enough to adapt. Shall we? If so we should check for prevalence (see #424).

[2021-03-22 15:20] mr-tz commented on #434
We've picked flirt (#435) over this due to better performance and re-usability.

[2021-03-22 15:20] #434 closed

[2021-03-22 15:45] williballenthin commented on #490
i think this is a good idea. CI for lancelot just broke because they upgraded from ubuntu 18 to 20 and i ignored all the warnings. the more explicit, the better.

[2021-03-22 18:16] #490 closed

[2021-03-22 23:29] mike-hunhoff commented on #472
addressed in #493.

[2021-03-22 23:29] #472 closed

[2021-03-22 23:30] mike-hunhoff opened #494 "check if basic block child of correct type"
we should add a check to the following code that verifies the single child statement is of the expected type:

https://github.com/fireeye/capa/blob/14e65c46011aca908863a770ec925cc222dc7f93/capa/rules.py#L347-L354

[2021-03-23 08:54] #458 closed

[2021-03-23 08:55] #184 closed

[2021-03-23 11:18] mr-tz commented on #319
see IDA 7.6 changelog:

[2021-03-23 13:49] stevemk14ebr opened #496 "IDA 7.6 not supported"
IDA 7.6 is not in the helpers list here: https://github.com/fireeye/capa/blob/cfa904a0a01e972cab67ed92370d7996458240d4/capa/ida/helpers/__init__.py#L21-L26

This causes the plugin to fail to load with
[code]

[2021-03-24 17:56] williballenthin opened #498 "pin all dependencies"
we're missing a bunch of version pins in our setup.py, which exposes the project to future breakages:

![image](https://user-images.githubusercontent.com/156560/112360429-ebdcd280-8c97-11eb-9b3f-66a85d463c8e.png)

[2021-03-24 20:36] williballenthin commented on #154
request for transfer of the PyPI project name `capa`:

https://github.com/pypa/pypi-support/issues/984

[2021-03-24 21:19] mike-hunhoff opened #499 "support unnamed exports"
Taking a peek at the extractors it looks like `capa` assumes exports are named, but what about unnamed exports (by ordinal only)? We support matching imports by ordinal, should we also support matching exports by ordinal? We don't mention anything about this in the rule format documentation so I'm unsure without doing additional digging.

My vote is yes for completeness e.g. `- export: #1`.

[2021-03-25 18:17] williballenthin opened #501 "consider renaming the primary branch"
following github's default policy and its reasoning, we should consider renaming our primary branch, currently `master`, to something else, such as `main`.

[2021-03-25 18:35] mr-tz commented on #501
👍  `main` sounds good

[2021-03-25 18:42] Ana06 opened #502 "Feature request: loop scope"
Introducing a new `loop` scope could be useful in some rules. For example:

[code]

From https://github.com/fireeye/capa-rules/pull/308#discussion_r600715392

[2021-03-25 19:02] mike-hunhoff commented on #466
thank you for identifying this issue @Ana06! addressed in #468.

![Screen Shot 2021-03-25 at 1 01 29 PM](https://user-images.githubusercontent.com/42192796/112528923-53fbe900-8d6a-11eb-814d-b7a0d47b4c67.png)

[2021-03-25 19:02] #466 closed

[2021-03-25 19:19] williballenthin commented on #501
- [ ] create branch
 - [ ] update gh settings
 - [ ] update CI (if necessary)

[2021-03-25 19:24] williballenthin commented on #502
this seems useful.

it make take a bit of work to enable this without affecting performance too much. but perhaps performance tuning is needed anyways.

i wonder if there are any edge cases with a crazy number of loops that we'd need to handle. and how does the following behave? can it be done efficiently?

[code]

[2021-03-26 10:37] mr-tz commented on #498
It's biting us already, I believe:

`ruamel.yaml`: "The 0.16.13 release was the last that will tested to be working on Python 2.7."

[2021-03-26 15:05] mike-hunhoff commented on #494
from my understanding a single subscope child statement must be one of `and`, `or`, `optional`, `not`, `N or more`?

however, it looks like we have a rule (maybe more I haven't verified) that have gotten away with a single subscope child statement of any type e.g.

https://github.com/fireeye/capa-rules/blob/1ff994f7916d66e39b4b5b8dbb310d0e0b051f7f/compiler/rust/compiled-with-rust.yml#L1-L14

do we

[2021-03-26 15:09] mike-hunhoff commented on #496
we are waiting for hex-rays to release a fix - following that we can merge this PR to enable IDA 7.6 support.

[2021-03-26 15:20] williballenthin commented on #494
yes, the subscope should have a single child item, one of and/or/X or more.

a subscope block is translated (behind the scenes) into a separate capa rule and all capa rules should have a single root element. therefore, we should enforce the same at each subscope.

[2021-03-26 15:22] williballenthin commented on #494
looks like this is only enforced during deserialization, though we should probably have a lint for it, too

https://github.com/fireeye/capa/blob/master/capa/rules.py#L565-L568
![image](https://user-images.githubusercontent.com/156560/112654177-bd383680-8e14-11eb-9451-2caa44b1f29e.png)

[2021-03-28 08:14] mr-tz commented on #496
If you have an IDA license, you can contact Hexrays directly and ask for a fix. This affects the capa plugin and likely any other plugin using PyQt QTreeWidgets.

[2021-03-28 10:52] mr-tz opened #505 "Build releases using older Python version - Windows compatibility"
I think a lot of analysts still use Windows 7, e.g. via FLARE VM.

Python 3.9 may not run on Windows 7 by default. See https://bugs.python.org/issue40740.

![2021-03-28_14-30-28](https://user-images.githubusercontent.com/17606537/112752222-3466f980-8fd2-11eb-9c4c-babe51ae6cc0.png)

Which version should we use to build releases? Alternatively, should we release an additional version that runs on Wi

[2021-03-28 10:54] mr-tz commented on #505
This should be run across as many OS/Python combinations as possible:

https://github.com/fireeye/capa/blob/bddb5fbd2f74c8ae52c0e3b54778baa572ee4e8f/.github/workflows/build.yml#L41-L46

[2021-03-29 13:29] mr-tz opened #507 "Option to disable .viv workspace creation"
on a related note of `capa`/`vivisect`, is there any way (e.g. command-line switch parameter) to disable the creation of the extra ".viv" workspace file?

_Originally posted by @evandrix in https://github.com/vivisect/vivisect/issues/383#issuecomment-808953663_

[2021-03-29 14:03] williballenthin commented on #507
should we disable all viv file creation? still use the viv if it happens to be there, but not create them ourselves?

this would reduce clutter on users' systems but reduce performance in the case that capa is run multiple times on the same program.

[2021-03-29 15:29] mr-tz commented on #507
hmm, I'm torn as I like the performance boost on multiple runs but can see how it can be unnecessary or even confusing to create the workspaces for most users

@evandrix in what way are the viv files causing issues for you?

[2021-03-31 04:38] whitepoet opened #508 "key not found"
[code]

i used the change in the `form.py` as #462 said, but it did not work.

[2021-03-31 15:57] williballenthin commented on #508
the stack trace source snippets indicate you've applied the fixes, but the exception doesn't make sense there. this makes me think one of two things:
  - have you restarted IDA between patching `form.py`? you have to do this because IDA caches the python modules.
  - have you removed any python cache files (`.pyc` or `__pycache__` directories)?

[2021-04-01 02:08] whitepoet commented on #508
ok,it is useful, thanks!

[2021-04-01 02:08] #508 closed

[2021-04-01 18:40] calisurferbro25 commented on #496
after using hexrays' QtWidgets.pyd fix and manually adding 7.6 to capa package it works fine, why not merge already?

[2021-04-01 19:20] williballenthin commented on #496
we'd like to see if Hex-Rays will release an update to IDA to distribute the patched Qt widgets. if we merge, then most people will find out the hard way that they have to make a special request to hex-rays to get the patch - and i think this might be quite confusing.

is there a way we can detect the buggy version and show users a dialog box with recommendations under 7.6?

[2021-04-01 19:20] evandrix opened #509 "Analysis doesn't terminate"
Is your bug report related to capa rules (for example a false positive)? No
Have you checked that your issue isn't already filed? Yes
Have you read capa's Code of Conduct? Yes
Have you read capa's CONTRIBUTING guide? Yes

### Description

Analysis seems to go on forever (at least, I've left it running for many hours, and it doesn't complete) for the following samples:

- SHA256:`a34f59f7f84b2fdb75

[2021-04-01 19:26] williballenthin commented on #509
7ae9d136ff12f5da6b14c291ab07d88afbbde5ab

VB sample with a *massive* function at 0x4033E0:

![image](https://user-images.githubusercontent.com/156560/113344021-cbdb8d80-92ed-11eb-9e47-886fa32128dc.png)

IDA won't display the function.

[2021-04-01 19:28] williballenthin commented on #509
triage 776e44dcfbfe05c52ef35712fd7dd4797072b087

packed and function at 0x140C3F184 is somewhat complicated:
![image](https://user-images.githubusercontent.com/156560/113344298-1f4ddb80-92ee-11eb-89e5-31641413f904.png)

[2021-04-01 19:29] evandrix commented on #507
it's more a pain point / convenience if there was such an option, than a real issue that needs help fixing

my use case: "on a 48-core, 128GB Linux VM on ESXi, I have a corpus of 500k+ malware samples in a folder, that i'm running `capa` on, via `parallel` (initially was using the `capa` release binary, later switched to `pip`-installing `capa` + `git clone`ing `capa-rules`, because of all the `_M

[2021-04-01 19:32] williballenthin commented on #509
triage 20520e5dc8847d74f35e6c466382fb0962e30a89

vmprotect'd 10MB binary

[2021-04-01 19:32] evandrix commented on #507
additionally, more details of how i'm running it, for your reference here https://github.com/fireeye/capa/issues/509

it doesn't complete on those samples mentioned in that issue, for some reason

[2021-04-01 19:33] williballenthin commented on #509
triage d70464726bc0c39076a2c1e699eba1cdb1926406

packed 13MB binary

[2021-04-01 19:35] evandrix commented on #509
i thought it would say something like the following, if it were packed:
[code]

[2021-04-01 19:37] evandrix commented on #509
is it possible to  have some sort of default internal setting within `capa`, to not bother analysing functions that are "excessively large"?

[2021-04-01 19:37] williballenthin commented on #509
definitely, and we'll update our rules to better catch some of these samples.

note, however, that there's a chicken and egg problem here: in order to find packed samples, we need to analyze them, and if they're packed, they don't analyze well (or take lots of time/resources). i bet we can create some initial filter logic to avoid some difficult binaries.

[2021-04-01 19:38] williballenthin commented on #509
maybe, with a bit of rearchitecting. as is, we currently hand analysis over to vivisect to build up a workspace, and then process that workspace when its ready. in order to bail early, we'd have to hook into vivisect to be notified of these cases. it might be possible, if we can identify a consistent set of characteristics.

[2021-04-01 19:40] evandrix commented on #509
yeah, i understand, and i'm willing to live not perfectly getting everything, too bad https://unpac.me is not released publicly

[2021-04-01 19:40] williballenthin commented on #507
i feel your pain :-)

when we run floss and capa within our pipelines, we restrict the resources and bail if its looking like the analysis won't work. for example, i think we set runtime cap at 5mins and memory usage at maybe 1GB. in our experience, if this isn't enough, its unlikely that waiting longer or working harder is likely going to make much difference.

[2021-04-01 19:41] evandrix commented on #509
"hand analysis over to vivisect " - yep, i kinda got that

[2021-04-01 19:45] williballenthin commented on #509
do you happen to know the packers in use here?

  - 7ae9d136ff12f5da6b14c291ab07d88afbbde5ab: VB, and we could bail upon seeing those imports
  - 776e44dcfbfe05c52ef35712fd7dd4797072b087: ???
  - 20520e5dc8847d74f35e6c466382fb0962e30a89: vmprotect, and we could bail upon seeing those section names
  - d70464726bc0c39076a2c1e699eba1cdb1926406: ????, though its big. should we bail on any file with l

[2021-04-01 19:51] evandrix commented on #509
For your convenience, the output from Detect-It-Easy v3.01

`776e44dcfbfe05c52ef35712fd7dd4797072b087`
[code]

`d70464726bc0c39076a2c1e699eba1cdb1926406`
[code]

[2021-04-01 21:46] williballenthin commented on #509
idea: we could run the file feature matcher first and inspect it for packer rule hits before doing the viv analysis. then our vmprotect, etc. rules can match on obvious file features (like section names) and prevent any crazy runtimes by the analyzer.

[2021-04-02 02:55] kulinacs commented on #233
I was looking for this feature to write rules for direct syscall invocations - commonly generated by tooling like SysWhispers.

[code]

should be a pretty straight forward byte sequence for a capa rule, but I'm not sure how I would implement without byte wildcards.

[2021-04-05 11:02] mr-tz commented on #233
right, in capa we could match on a basic block containing something like:
[code]

Do you have a file/hash you can share for this specific example?

[2021-04-05 11:23] mr-tz commented on #461
Good points and I'm ok with leaving it as is.

[2021-04-05 11:23] #461 closed

[2021-04-05 11:25] mr-tz commented on #444
See #480

[2021-04-05 11:28] mr-tz commented on #431
Closing this out as we're rolling with #435. Happy to come back to this if we encounter issues / additional use cases later on.

[2021-04-05 11:28] #431 closed

[2021-04-05 15:03] kulinacs commented on #233
I was using WdToggle, a Beacon Object File using the InlineWhispers library to test - https://github.com/outflanknl/WdToggle

BOF's are a bit odd to run against capa, since they're more structured than shellcode but not PE's, but running them as shellcode seems to work just fine. WdToggle was an arbitrary choice on my end - mostly because it was linked in the InlineWhispers repository.

[2021-04-06 03:24] williballenthin commented on #459
#512

[2021-04-06 08:19] Ana06 commented on #459
Addressed in #512

[2021-04-06 08:19] #459 closed

[2021-04-06 08:25] Ana06 commented on #498
This has been addressed in https://github.com/fireeye/capa/pull/504, right?

[2021-04-06 08:29] Ana06 commented on #422
Do we necessarily need to do this for capa v1.6.1? With the [release documentation](https://github.com/fireeye/capa/blob/master/doc/release.md), I think now it is more difficult to forget this and I don't think it is a priority.

I am changing this to the v2.0.0 milestone and assigning it to myself. Let me know if you are not ok with this.

[2021-04-06 08:34] mr-tz commented on #498
#504 only pinned ruamel, the other dependencies are still TODO

[2021-04-06 08:36] mr-tz commented on #422
Yes, that sounds good to me!

[2021-04-06 08:49] Ana06 commented on #498
ouch! 🙈  I'll send a PR to pin the rest in a moment! 👍

[2021-04-06 09:35] r0ny123 commented on #459
I don't think this issue addressed in #512 as it depends on #470.
see https://github.com/fireeye/capa/pull/470/checks?check_run_id=2276807051

[2021-04-06 10:46] Ana06 commented on #459
@r0ny123

see #470 (checks)

#512 updates the vivisect version to the one which should include the fix for this. #470 tests that it works. As you have pointed out, the checks fail, but this is caused by the smda backend (which was also failing before), not by vivisect. All the vivisect tests are working in Windows with Python 3.9 since #512 was merged.

![Screenshot 2021-04-06 at 12 41 02](https:/

[2021-04-07 06:47] mr-tz opened #514 "IDA extractor canonic mnem vs. mnem"
In the IDA extractor we use the canonic mnemonic vs. the specific one. This differs to vivisect's analysis (I haven't checked SMDA).

Given this code:
[code]

# IDAPython
[code]

We use this in the feature extractor:
[code]

# vivisect
vivisect gives `lodsb`

# Question
To make this more consistent should we always use the non-canonic, e.g. `lodsb`, instruction? IDA's `insn_t` doesn't seem to have

[2021-04-07 07:38] #460 closed

[2021-04-07 08:19] #498 closed

[2021-04-07 14:06] mr-tz opened #516 "detect raw/sc+32/64 file extensions"
### Summary

capa should automatically identify a file as shellcode when provided the file extension raw32, raw64, sc32, or sc64

### Motivation

helps with testing (see for example https://github.com/fireeye/capa-testfiles/pull/82/checks?check_run_id=2287903715) and running this in automations

[2021-04-07 14:49] r0ny123 commented on #459
Ugh, I overlooked that, thanks @Ana06!

[2021-04-07 16:18] Ana06 commented on #459
@r0ny123 capa v1.6.1 (including this fix) is released

[2021-04-07 17:04] Ana06 commented on #432
is this address by https://github.com/fireeye/capa/pull/480 or is this something else? 🤔

[2021-04-07 17:19] r0ny123 commented on #459
@Ana06 Just ran capa against a file. Worked perfectly fine!

[2021-04-07 18:32] r0ny123 opened #518 "Variation in features extracted by capa while uisng vivisect backend and capa IDA explorer"
I've noticed that for a particular sample (`70da6872b6b2da9ddc94d14b02302917`), the no/type of features getting extracted by capa while using `vivisect` and `capa explorer`, are not same. there's some significant mismatch between the features extracted by above mentioned methods.

![image](https://user-images.githubusercontent.com/49360849/113913789-5b0b0880-97fa-11eb-8f46-eaac3228ed87.png)

**lef

[2021-04-07 19:50] williballenthin commented on #518
Capa relies on these analysis backends (IDA, vivisect, SMDA, ...) to identify functions, basic blocks, instructions, features, etc. If the backend engines disagree, then there's not too much that capa can do. If you can highlight a few samples with differing analysis, then we can triage why the backends differ and maybe supply patches to those engines to enhance their analysis. Otherwise, unfortun

[2021-04-07 19:54] r0ny123 commented on #518
Yeah, I already mentioned the hash `70da6872b6b2da9ddc94d14b02302917`

[2021-04-08 08:48] #456 closed

[2021-04-08 14:58] mr-tz commented on #432
Yes!

[2021-04-08 14:58] #432 closed

[2021-04-08 15:56] williballenthin opened #520 "show the prevalence of rules in the output"
we can improve the report by showing how commonly a rule matches globally/against benign samples/against malware. this context can help a user decide if a match is interesting or not. for example "open a file" matches everywhere, so its not usually "interesting" while "encrypt with FakeM" is quite uncommon and therefore "interesting".

in order to do this, we need to collect wide scale statistics

[2021-04-09 07:53] r0ny123 commented on #518
Is there any way to know how many features get extracted while running capa on IDA backend?

[2021-04-09 08:39] mr-tz commented on #518
Also be aware that the standalone tool does some filtering to display less hits. In the example above `send data` is a "parent" rule for `send data on socket` so the latter does not get displayed, for example.

To get a feature count you can use `scripts/show-featues.py` in IDA or use the save feature in the plugin and inspect the resulting JSON.

[2021-04-09 09:13] #516 closed

[2021-04-09 09:23] r0ny123 commented on #518
I didn't notice that. Later, I ran `capa -v <file>`and  `receive data on socket (3 matches)`, `send data on socket (3 matches)` were there with their parent one. But do we need to display the parent one while the children are already displayed both in `IDA capa exlorer` and terminal, while running `capa` from CLI with `-v`.

Thanks!

[2021-04-12 15:45] williballenthin opened #526 "parse MBC technique into fields for the JSON output format"
from https://github.com/fireeye/capa-rules/issues/316

[2021-04-13 13:42] #505 closed

[2021-04-13 13:54] Lichtlos commented on #496
The updated QtWidgets.so files have been provided by Hex-Rays today:

https://www.hex-rays.com/blog/ida-7-6-empty-qtreeview-qtreewidget/

[2021-04-13 14:54] #496 closed

[2021-04-13 15:55] Ana06 opened #529 "ci: tag released commit of capa rules instead of master"
### Description

The tag GitHub Action tags master in capa-rules, instead it could tag the capa-rules commit used in the release. This is normally not a problem because we keep capa-rules and master in capa in sync (as long as we don't merge new commits in capa-rules while the tag action is running). But it is a problem when releasing other branch.

Note that this can be fixed manually (by deletin

[2021-04-14 06:21] mr-tz commented on #103
also do this for MBC, see related capa-rules issue and PR

[2021-04-21 16:36] williballenthin opened #531 "explorer: deduplicate entries in "show matches by function""
![image](https://user-images.githubusercontent.com/156560/115589733-6e53b480-a28d-11eb-9c8d-04297813523b.png)

[2021-04-21 20:57] MalwareMechanic opened #532 "IDA Plugin Doesn't Support IDA 7.6"
### Description

The most recent release, v1.6.2, is missing support for IDA 7.6 in the file `C:\<python_version>\Lib\site-packages\capa\capa\ida\helpers\__init__.py`.

### Steps to Reproduce

0. Install patch for IDA 7.6 to fix QT issue
1. Install via pip: `pip install flare-capa`
2. Copy over `capa_explorer.py` to IDA plugins directory
3. Open a file in IDA 7.6

**Expected behavior:**

Be able t

[2021-04-22 07:16] mr-tz commented on #532
I think IDA's official fix came out after we released `v1.6.2`, so currently you have to pull from master or edit the file manually as a workaround.

[2021-04-22 14:00] williballenthin commented on #532
shall we do a v1.6.3 to update the explorer?

[2021-04-22 14:04] mike-hunhoff commented on #532
@mr-tz is right - `v1.6.2` does not include IDA 7.6 support.

+1 for `v1.6.3`.

[2021-04-22 16:12] williballenthin commented on #322
oh hey look its @fboldewin!

[2021-04-26 12:39] mr-tz opened #535 "CI: black version"
test.yml installs isort and black separately to the setup.py where we pin versions

solutions:
- install via setup.py in CI workflows
- pin all installed version in workflows

[2021-04-26 14:16] williballenthin commented on #535
yeah lets prefer to use setup.py to keep things in one place, when possible

[2021-04-26 14:45] #535 closed

[2021-04-28 19:10] seifreed commented on #532
Do we have any ETA for the capa explorer fix?

[2021-04-28 19:36] williballenthin commented on #532
we'll get it out this week, by Friday, hopefully sooner

[2021-04-28 19:37] williballenthin commented on #496
7.6sp1 released today including bugfix for this issue: https://www.hex-rays.com/products/ida/news/7_6sp1/

[2021-04-29 12:35] Ana06 commented on #532
capa v1.6.3 (including IDA 7.6 support) released: https://github.com/fireeye/capa/releases/tag/v1.6.3

[2021-04-29 12:35] #532 closed

[2021-04-29 15:32] seifreed commented on #532
I just tested the latest version:

`git pull` in the repository

`python3 setup.py build && python3 setup.py install
`
I copied the capa_explorer.py to the IDA 7.6 plugins folder, but I'm still getting:

`WARNING:capa:Your IDA Pro version is: 7.6. Supported versions are: 7.1, 7.2, 7.3, 7.4, 7.5.
`
I'm missing something here?